<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="survey-responses"> 
		<div class="blur-this">
			<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
				<tr ng-repeat="row in $data">
					<td data-title="'Name'" filter="{fullName: 'text'}" sortable="'fullName'">{{row.fullName}}</td>
					<td data-title="'Gender'" filter="{gender: 'text'}" sortable="'gender'">{{row.gender}}</td>
					<td data-title="'Age'" filter="{age: 'number'}" sortable="'age'">{{row.age}}</td>
					<td data-title="'Location Provided'" filter="{location: 'text'}" sortable="'location'">{{row.location}}</td>
					<td data-title="'Date Created'" filter="{dateCreated: 'text'}" sortable="'dateCreated'">{{row.dateCreated | date : "dd MMMM, yyyy h:mm a"}}</td>
					<td data-title="'Command'">
						<a href="/survey/responses/{{vm.accessId}}/{{row.id}}" class="btn btn-success btn-xs" role="button">View Response</a>
						<a href="/survey/responses/{{row.accessId}}" class="btn btn-primary btn-xs" role="button">Edit Response</a>
						<a ng-click="vm.confirmDelete(row._id, row.name)" class="btn btn-danger btn-xs" role="button">Delete</a>

					</td class="data-command-cell">
				</tr>
			</table>
		</div>
	</div>

</div>
