<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="survey-responses"> 
		<div class="blur-this">
			<table ng-table="vm.tableParams" class="table table-bordered table-striped survey-responses-table" style="margin-top:5px">
				<tr class="table-row" ng-repeat="row in $data">
					<td ng-click="vm.goToResponseUrl(row.id)" data-title="'Name'" filter="{fullName: 'text'}" sortable="'fullName'" class="survey-name-cell">{{row.fullName}}</td>
					<td ng-click="vm.goToResponseUrl(row.id)" data-title="'Gender'" filter="{gender: 'text'}" sortable="'gender'" class="gender-cell">{{row.gender}}</td>
					<td ng-click="vm.goToResponseUrl(row.id)" data-title="'Age'" filter="{age: 'number'}" sortable="'age'" class="age-cell">{{row.age}}</td>
					<td ng-click="vm.goToResponseUrl(row.id)" data-title="'Location Provided'" filter="{location: 'text'}" sortable="'location'" class="location-cell">{{row.location}}</td>
					<td ng-click="vm.goToResponseUrl(row.id)" data-title="'Date Created'" filter="{dateCreated: 'text'}" sortable="'dateCreated'" class="date-created-cell">{{row.dateCreated | date : "dd MMMM, yyyy h:mm a"}}</td>
					<td data-title="'Action'" class="context-menu-cell">
						<div class="dropdown" style="text-align:center;">
							<span class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="view-btn"><a href="/survey/responses/{{vm.accessId}}/{{row.id}}">View</a></li>
								<!-- <li class="edit-btn"><a href="/survey/responses/{{row.accessId}}">Edit</a></li> -->
								<li class="delete-btn"><a ng-click="vm.confirmDelete(row._id, row.name)">Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>
