<div class="modal-content bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="user-info"> 
	<div class="blur-this">
		<form id="updateProfile" name="updateProfile" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">

			<div class="modal-header">
				<button type="button" ng-click="vm.modal.cancel()" class="close">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 id="update-profile-modal-label" class="modal-title">User Settings</h4>
			</div>

			<div class="modal-body row">
				<div class="col-lg-12">	
					<div class="form-group">
						<label class="col-lg-3 control-label">Avatar:</label>
						<div class="col-lg-8">

							<!--Container for Avatar with FA icon mouse hover overlay -->
							<div class="profile-img-container">
								<img id="avatar-img" src="{{vm.userInfo.avatar}}" class="vis-img-thumb img-thumbnail img-circle img-responsive" />
								<a href="#" type="file"  id="file-upload-input" ngf-select ngf-change="vm.onAvatarSelect($files)"><span class="fa fa-upload fa-5x"></span></a>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">First name:</label>
						<div class="col-lg-8">
							<input id="first-name" name="first-name" ng-model="vm.userInfo.firstName" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Last name:</label>
						<div class="col-lg-8">
							<input id="last-name" name="last-name" ng-model="vm.userInfo.lastName" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-8">
							<input id="email" name="email" ng-model="vm.userInfo.email" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Company:</label>
						<div class="col-lg-8">
							<input id="company" name="company" ng-model="vm.userInfo.company" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{ 'has-error': updateProfile.password.$dirty && updateProfile.password.$invalid, 'has-success': updateProfile.password.$dirty && updateProfile.password.$valid }">
						<label class="col-lg-3 control-label">Password:</label>
						<div class="col-lg-8">
							<input ng-change="vm.setDelay()" id="password" name="password" ng-model="vm.userInfo.password" class="form-control .has-error" type="password" placeholder="Password">
							<span class="glyphicon glyphicon-remove form-control-feedback" style="display:none;" ng-class="{ 'show': updateProfile.password.$dirty && updateProfile.password.$invalid }" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display:none;" ng-class="{ 'show': updateProfile.password.$dirty && updateProfile.password.$valid }" aria-hidden="true"></span>
							<div ng-show="!vm.delay && (updateProfile.$dirty || submitted)">
								<span class="password-error-msg" ng-show="updateProfile.password.$error.required">Please enter a password.</span>
							</div>
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{ 'has-error': updateProfile.confirmPassword.$dirty && updateProfile.confirmPassword.$invalid, 'has-success': updateProfile.confirmPassword.$dirty && updateProfile.confirmPassword.$valid }">
						<label class="col-lg-3 control-label">Confirm password:</label>
						<div class="col-lg-8">
							<input ng-change="vm.setDelay()" id="confirmPassword" name="confirmPassword" ng-model="vm.userInfo.confirmPassword" pw-check='password' class="form-control .has-error" type="password" placeholder="Password">
							<span class="glyphicon glyphicon-remove form-control-feedback" style="display:none;" ng-class="{ 'show': updateProfile.confirmPassword.$dirty && updateProfile.confirmPassword.$invalid }" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display:none;" ng-class="{ 'show': updateProfile.confirmPassword.$dirty && updateProfile.confirmPassword.$valid }" aria-hidden="true"></span>
							<div ng-show="!vm.delay && (updateProfile.confirmPassword.$dirty || submitted)">
								<span class="password-error-msg" ng-show="updateProfile.confirmPassword.$error.required">Please confirm your password.</span>
								<span class="password-error-msg" ng-show="updateProfile.confirmPassword.$error.pwcheck && !updateProfile.confirmPassword.$error.required">Your passwords don't match.</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="modal-footer">
				<button ng-click="vm.modal.cancel()" type="button" class="btn btndefault">Cancel</button>
				<button type="submit" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.saveProfileButtonOptions">Save Profile</button>
			</div>
		</form>
	</div>
</div>