<div class="modal-content bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="user-info"> 
	<div class="blur-this">
		<form id="update-profile" name="vm.profileForm" role="form" ng-submit="vm.onSubmit()" class="form-horizontal" novalidate> <!-- novalidate prevents HTML5 validation -->

			<div class="modal-header">
				<button type="button" ng-click="vm.modal.cancel()" class="close">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 id="update-profile-modal-label" class="modal-title">User Settings</h4>
			</div>

			<div class="modal-body row">
				<div class="col-lg-12">	
					<div class="form-group">
						<label class="col-lg-3 control-label">Avatar:</label>
						<div class="col-lg-8">

							<!--Container for Avatar with FA icon mouse hover overlay -->
							<div class="vis-img-thumb img-thumbnail img-circle img-responsive lrg-avatar-container" id="upload-avatar-container" style="background-image: url('{{vm.userInfo.avatar}}');">
								<img src="{{vm.userInfo.avatar}}" class="lrg-avatar" id="upload-avatar"/>
								<a href="#" type="file"  id="file-upload-input" ngf-select ngf-change="vm.onAvatarSelect($files)"><span class="fa fa-upload fa-5x"></span></a>
							</div>

						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{ 'has-error': vm.profileForm.firstName.$dirty && vm.profileForm.firstName.$invalid, 'has-success': vm.profileForm.firstName.$dirty && vm.profileForm.firstName.$valid }">
						<label for="first-name" class="col-lg-3 control-label">First name:</label>
						<div class="col-lg-8">
							<input id="first-name" name="firstName" ng-model="vm.userInfo.firstName" class="form-control" type="text" placeholder="First Name" required>
							<span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': vm.profileForm.firstName.$dirty && vm.profileForm.firstName.$invalid, 'glyphicon-ok': vm.profileForm.firstName.$dirty && vm.profileForm.firstName.$valid }" aria-hidden="true"></span>
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{ 'has-error': vm.profileForm.lastName.$dirty && vm.profileForm.lastName.$invalid, 'has-success': vm.profileForm.lastName.$dirty && vm.profileForm.lastName.$valid }">
						<label for="last-name" class="col-lg-3 control-label">Last name:</label>
						<div class="col-lg-8">
							<input id="last-name" name="lastName" ng-model="vm.userInfo.lastName" class="form-control" type="text" placeholder="Last Name" required>
							<span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': vm.profileForm.lastName.$dirty && vm.profileForm.lastName.$invalid, 'glyphicon-ok': vm.profileForm.lastName.$dirty && vm.profileForm.lastName.$valid }" aria-hidden="true"></span>
						</div>
					</div>
					<div class="form-group has-feedback" ng-class="{ 'has-error': vm.profileForm.email.$dirty && vm.profileForm.email.$invalid, 'has-success': vm.profileForm.email.$dirty && vm.profileForm.email.$valid }">
						<label for="email" class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-8">
							<input id="email" name="email" ng-model="vm.userInfo.email" class="form-control" type="email" placeholder="Email" required>
							<span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': vm.profileForm.email.$dirty && vm.profileForm.email.$invalid, 'glyphicon-ok': vm.profileForm.email.$dirty && vm.profileForm.email.$valid }" aria-hidden="true"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="company" class="col-lg-3 control-label">Company:</label>
						<div class="col-lg-8">
							<input id="company" name="company" ng-model="vm.userInfo.company" class="form-control" type="text" placeholder="Company">
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label"></label>
						<div class="col-lg-8">
							<button ng-if="!vm.changePassword" ng-click="vm.togglePassword()" type="button" class="btn btn-primary">Change Password</button>
							<button ng-if="vm.changePassword" ng-click="vm.togglePassword()" type="button" class="btn btn-primary">Cancel</button>
						</div>
					</div>

					<div ng-show="vm.changePassword" class="form-group has-feedback animate-show-hide" ng-class="{ 'has-error': vm.profileForm.password.$dirty && vm.profileForm.password.$invalid, 'has-success': vm.profileForm.password.$dirty && vm.profileForm.password.$valid }">
						<label for="password" class="col-lg-3 control-label">Password:</label>
						<div class="col-lg-8">
							<input id="password" name="password" ng-model="vm.userInfo.password" class="form-control .has-error" type="password" placeholder="Password" required="true">
							<span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': vm.profileForm.password.$dirty && vm.profileForm.password.$invalid, 'glyphicon-ok': vm.profileForm.password.$dirty && vm.profileForm.password.$valid }" aria-hidden="true"></span>
							<div ng-show="(vm.profileForm.password.$dirty || submitted)">
								<span class="password-error-msg" ng-show="vm.profileForm.password.$error.required">Please enter a password.</span>
							</div>
						</div>
					</div>
					<div ng-show="vm.changePassword" class="form-group has-feedback animate-show-hide" ng-class="{ 'has-error': vm.profileForm.confirmPassword.$dirty && vm.profileForm.confirmPassword.$invalid, 'has-success': vm.profileForm.confirmPassword.$dirty && vm.profileForm.confirmPassword.$valid }">
						<label for="confirm-password" class="col-lg-3 control-label">Confirm password:</label>
						<div class="col-lg-8">
							<input id="confirm-password" name="confirmPassword" ng-model="vm.userInfo.confirmPassword" pw-check='password' class="form-control .has-error" type="password" placeholder="Confirm Password" required="true">
							<span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-remove': vm.profileForm.confirmPassword.$dirty && vm.profileForm.confirmPassword.$invalid, 'glyphicon-ok': vm.profileForm.confirmPassword.$dirty && vm.profileForm.confirmPassword.$valid }" aria-hidden="true"></span>
							<div ng-show="(vm.profileForm.confirmPassword.$dirty || submitted)">
								<span class="password-error-msg" ng-show="vm.profileForm.confirmPassword.$error.required">Please confirm your password.</span>
								<span class="password-error-msg" ng-show="vm.profileForm.confirmPassword.$error.pwcheck && !vm.profileForm.confirmPassword.$error.required">Your passwords don't match.</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="modal-footer">
				<button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
				<button type="submit" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.saveProfileButtonOptions">Save Profile</button>
			</div>
		</form>
	</div>
</div>