/* =================================== */
/* ========== CSS VARIABLES ========== */
/* =================================== */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */

:root {
	--main-colour: #4676fa;
}

/* ========== GLOBAL ========== */

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

body, html {
	width: 100%; 
	height: 100%;
	margin: 0; 
	padding: 0
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
}

footer{
	text-align: left;
	margin-bottom: 5px;
	position: inherit;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

/* ========== INITIAL LOADING SCREEN ========== */

.spinner {
	width: 40px;
	height: 40px;
	background-color: #fff;

	margin: 100px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 
	100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

.pg-loading-logo {
	width: 250px;
}

/* ========== NAVIGATION ========== */

#navigation-main{
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	height: 50px;
	-webkit-box-shadow: 0 6px 6px -6px #999;
	-moz-box-shadow: 0 6px 6px -6px #999;
	box-shadow: 0 6px 6px -6px #999;
}

#navbar-main {
	background-color: var(--main-colour);
	border-color: var(--main-colour);
}

.navbar-default {
	background-color: var(--main-colour);
	border-color: var(--main-colour);
}

.navbar-default .navbar-brand {
	padding: 7px 0;
	margin: 0 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #2d65ff;
	cursor: pointer;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret {
	border-top-color: #333 !important;
	border-bottom-color: #333 !important;
}

.dropdown-menu {
	border: 1px solid #e7e7e7;
	padding: 0;
}

.dropdown-menu>li>a {
	padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
	background-color: #e7e7e7;
	font-weight: 500;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff !important;
	}

	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 30px;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2d65ff;
}

#banner{
	margin-top: 30px;
}

/* ========== MAPS ========== */

#map{
	position: absolute; 
	top: 50px; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

#map-homepage{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

#map-files-page{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

/* ========== TOASTS ========== */

/* To render line breaks - '\n' */
#toast-container .toast-message {
	white-space: pre-wrap;
}

#toast-container .toast-warning {
	background-color: #ffd600 !important;
	border-color: #ffd600 !important;
	color: #714700 !important;
}

#toast-container .toast-warning .toast-close-button {
	color: #714700 !important;
}

#toast-container > .toast-warning {
	background-image: none !important;
}

#toast-container > .toast-warning:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 24px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1.5em;
}        

#toast-container > .toast-warning:before {
	content: "\f071";
}

#toast-container > .toast-error {
	background-image: none !important;
}

#toast-container > .toast-error:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 30px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1em;
}

#toast-container > .toast-error:before {
	content: "\f12a";
}

/* ========== LEAFLET MAPS ========== */

.leaflet-container .btn {
	color: #fff !important;
}

/* layers.png not in css folder, put into imgs folder for gulp image task */
.leaflet-control-layers-toggle {
	background-image: url(/assets/img/map/layers-2x.png) !important;
	background-size: 60% !important;
	background-repeat: no-repeat !important;
}

.leaflet-popup {
	word-wrap: break-word;
}

/* ========== ANGULAR LOADING OVERLAY ========== */

.loading-overlay--active .blur-this{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* ========== AVATAR IMAGE UPLOAD OVERLAY ========== */

.profile-img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.profile-img-container img {
	min-width:200px;
	min-height:200px;
}


.profile-img-container img:hover {
	opacity: 0.5
}
.profile-img-container:hover a {
	opacity: 1;
	top: 0;
	z-index: 500;
}

.profile-img-container:hover a span {
	top: 50%;
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color:white;
}

.profile-img-container a {
	display: block;
	position: absolute;
	top: -100%;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
}

/* ========== BUBBLE CHART PAGE ========== */

.number-input-bubble:invalid+span:after {
	font-family: FontAwesome;
	content: "\f06a";
	padding-left: 5px;
}

/* ========== NO-UI-SLIDER ========== */

.noUi-connect {
	background: var(--main-colour) !important;
}

/* ========== FILE TYPE ICONS ========== */

.fa-file-pdf-o {
	color: #ee3124;
}

.fa-file-word-o {
	color: #295497;
}

.fa-file-image-o {
	color: #26b99a;
}

.fa-file-text-o {
	color: #464646;
}

/* ========== FILE BROWSER PAGE ========== */

.file-browser-table .file-name-cell {
	cursor: pointer;
}

.file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.file-browser-table .file-name-cell i{
	padding-right: 5px;
}

.file-browser-table td.file-name-cell {
	vertical-align: middle !important;
}

.file-browser-table td.last-modified-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.file-browser-table td.uploaded-by-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.file-browser-table td.size-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.file-browser-table td.command-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

/* ========== HOME PAGE ========== */

.home-recent-files-table .file-name-cell {
	cursor: pointer;
}

.home-recent-files-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.home-recent-files-table .file-name-cell i{
	padding-right: 5px;
}

.home-recent-files-table td.file-name-cell {
	vertical-align: middle !important;
}

.home-recent-files-table-container .ng-table-pager {
	display:none;
}

/* ========== NEW ANALYSIS MODAL ========== */

.analysis-file-browser-table .name-cell {
	cursor: pointer;
}

.analysis-file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.analysis-file-browser-table .name-cell i{
	padding-right: 5px;
}

.analysis-file-browser-table td.name-cell {
	vertical-align: middle !important;
}

.analysis-file-browser-table td.last-modified-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.analysis-file-browser-table td.created-by-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.analysis-file-browser-table td.command-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

/* ========== UPDATE PROFILE MODAL ========== */

.password-error-msg {
	color: #a94442;
    font-weight: bold;
    padding: 5px 0;
}