/* ========== GLOBAL ========== */

body, html {
	width: 100%; 
	height: 100%;
	margin: 0; 
	padding: 0
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
}

/* ========== NAVIGATION ========== */

#navigation-main{
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	height: 50px;
	-webkit-box-shadow: 0 6px 6px -6px #999;
	-moz-box-shadow: 0 6px 6px -6px #999;
	box-shadow: 0 6px 6px -6px #999;
}

#navbar-main {
	background-color: #4676fa;
	border-color: #4676fa;
}

.navbar-default {
	background-color: #4676fa;
	border-color: #4676fa;
}

.navbar-default .navbar-brand {
	padding: 7px 0;
	margin: 0 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #2d65ff;
	cursor: pointer;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret {
	border-top-color: #333 !important;
	border-bottom-color: #333 !important;
}

.dropdown-menu {
	border: 1px solid #e7e7e7;
	padding: 0;
}

.dropdown-menu>li>a {
	padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
	background-color: #e7e7e7;
	font-weight: 500;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff !important;
	}

	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 30px;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2d65ff;
}

#banner{
	margin-top: 30px;
}

#map-controls{
	position: absolute;
	top: 60px;
	left: 10px;
	padding: 0;
	z-index: 2;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
	background-color: #fff;
}

#map-controls .tab-content{
	padding: 0 15px;
}

#map-controls .nav-tabs li{
	cursor: pointer;
}

#map-controls .tab-content .list-group a{
	cursor: pointer;
}

#map-warning {
	z-index: 2;
	display: inline-block;
	text-align: center;
	position: fixed;
	top: 60px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

#map{
	position: absolute; 
	top: 50px; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

#map-files-page{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

footer{
	text-align: left;
	margin-bottom: 5px;
	position: inherit;
}

td[data-title-text=Command] {
	width: 175px;
	text-align: center;
	vertical-align: middle !important;
}

#visualisation-table td{
	text-align: center;
	vertical-align: middle !important;
}

#visualisation-table td[data-title-text=Visualisation] {
	text-align: left !important;
}

.vis-img-thumb{
	height: 75px;
	border: 1px solid #000;
	margin-right: 5px;
}

div[ng-table-pagination=params] {
	height: 60px;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

#map-homepage{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

/* ========== TOASTS ========== */

/* To render line breaks - '\n' */
#toast-container .toast-message {
	white-space: pre-wrap;
}

#toast-container .toast-warning {
	background-color: #ffd600 !important;
	border-color: #ffd600 !important;
	color: #714700 !important;
}

#toast-container .toast-warning .toast-close-button {
	color: #714700 !important;
}

#toast-container > .toast-warning {
	background-image: none !important;
}

#toast-container > .toast-warning:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 24px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1.5em;
}        

#toast-container > .toast-warning:before {
	content: "\f071";
}

#toast-container > .toast-error {
	background-image: none !important;
}

#toast-container > .toast-error:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 30px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1em;
}

#toast-container > .toast-error:before {
	content: "\f12a";
}

/* ========== LEAFLET MAPS ========== */

.leaflet-container .btn {
	color: #fff !important;
}

/* layers.png not in css folder, put into imgs folder for gulp image task */
.leaflet-control-layers-toggle {
	background-image: url(/assets/img/map/layers-2x.png) !important;
	background-size: 60% !important;
	background-repeat: no-repeat !important;
}

.leaflet-popup {
	word-wrap: break-word;
}

/* ========== ANGULAR LOADING OVERLAY ========== */

.loading-overlay--active .blur-this{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* ========== AVATAR IMAGE UPLOAD OVERLAY ========== */

.profile-img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.profile-img-container img {
	min-width:200px;
	min-height:200px;
}


.profile-img-container img:hover {
	opacity: 0.5
}
.profile-img-container:hover a {
	opacity: 1;
	top: 0;
	z-index: 500;
}

.profile-img-container:hover a span {
	top: 50%;
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color:white;
}

.profile-img-container a {
	display: block;
	position: absolute;
	top: -100%;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
}

/* ========== BUBBLE CHART ========== */

.number-input-bubble:invalid+span:after {
	font-family: FontAwesome;
	content: "\f06a";
	padding-left: 5px;
}
