/* =================================== */
/* ========== CSS VARIABLES ========== */
/* =================================== */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */

:root {
	--main-colour: #4676fa;
}

/* ========== GLOBAL ========== */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%; 
	margin: 0 0 40px 0; 
	padding: 0;
}

body > .inner {
	visibility: hidden;
}

body.pg-loaded > .inner {
	visibility: visible;
}

.blueButton {
	background-color: #4676fa;
	border-color: #4676fa;
}

.blueButton:hover {
	background-color: #0676fa !important;
	border-color: #0676fa !important;
}

.blueButton:focus {
	background-color: #0676fa !important;
	border-color: #0676fa !important;
}

.blueButton:active {
	background-color: #0676fa !important;
	border-color: #0676fa !important;
}

.inner {
	width: 100%; 
	height: 100%;
	padding-top: 50px;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

/* ========== VIEWPORT FIXES =========== */

@-ms-viewport{
	width: device-width;
}

/* ========== FOOTER ========== */

footer-generic {
	display: block;
	margin-top: 20px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 14px;
	font-size: 14px;
	background-color: #f5f5f5;
	text-align: center;
	padding: 13px 0; 
	margin: 0;
}

footer span {
	color: #4676fa;
}

/* ========== LOGIN PAGE =========== */

.login-page.ng-enter,
.login-page.ng-leave {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.login-page.ng-enter {
	opacity: 0;
}
.login-page.ng-enter-active {
	opacity: 1;
}
.login-page.ng-leave {
	opacity: 1;
}
.login-page.ng-leave-active {
	opacity: 0;
}

/* ========== AVATAR IMAGES ========== */

.sml-avatar-container {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.med-avatar-container {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.lrg-avatar-container {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.login-avatar-container {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 40%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.sml-avatar,
.med-avatar,
.lrg-avatar,
.login-avatar {
	height: 100%;
	width: 100%;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* modern browsers */
	opacity: 0;
}

/* ========== INITIAL LOADING SCREEN ========== */

.spinner {
	width: 40px;
	height: 40px;
	background-color: #fff;

	margin: 100px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 
	100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

.pg-loading-logo {
	width: 250px;
}

/* ========== NAVIGATION ========== */

#navigation-main{
	position: fixed;
	top: 0; 
	left: 0; 
	right: 0; 
	height: 50px;
}

#navbar-main {
	background-color: var(--main-colour);
	border-color: var(--main-colour);
}

.navbar-default {
	background-color: var(--main-colour);
	border-color: var(--main-colour);
}

.navbar-default .navbar-brand {
	padding: 7px 0;
	margin: 0 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #2d65ff;
	cursor: pointer;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret {
	border-top-color: #333 !important;
	border-bottom-color: #333 !important;
}

.dropdown-menu {
	border: 1px solid #e7e7e7;
	padding: 0;
}

.dropdown-menu>li>a {
	padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
	background-color: #e7e7e7;
	font-weight: 500;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff !important;
	}

	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 30px;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2d65ff;
}

#banner{
	margin-top: 30px;
}

.nav>li>a {
	padding-left: 14px;
	padding-right: 14px;
}

/* ========== TABLES ========== */

.fa-ellipsis-h {
	font-size: 20px;
	width: 75%;
	color: #666;
}

.fa-ellipsis-h:hover {
	color: #000;
	cursor: pointer;
}

.context-menu-cell .open .fa-ellipsis-h {
	color: #000;
}

/* ========== TOOL TIPS ========== */

.generic-tooltip {
	position: relative;
	display: inline-block;
}

.generic-tooltip .tooltip-text {
	visibility: hidden;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 80px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 4px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -40px;
	opacity: 0;
	transition: opacity 0.4s;
}

.generic-tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.generic-tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* ========== MAPS ========== */

#map{
	position: absolute; 
	top: 50px; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

#map-homepage{
	position: absolute; 
	top: 0; 
	left: 15px; 
	right: 15px; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

#map-files-page{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: rgb(229, 227, 223);
}

/* Leaflet map */
.leaflet-container .btn {
	color: #fff !important;
}

/* layers.png not in css folder, put into imgs folder for gulp image task */
.leaflet-control-layers-toggle {
	background-image: url(/assets/img/map/layers-2x.png) !important;
	background-size: 60% !important;
	background-repeat: no-repeat !important;
}

.leaflet-popup {
	word-wrap: break-word;
}

.leaflet-popup:hover{
	opacity: 1 !important;
	word-wrap: break-word;
}

/* Leaflet Sidebar */

/* Fix to prevent the sidebar covering the nav menu (mobile) */
.sidebar {
	top: 50px !important;
	z-index: 1020 !important; 
}

/* Fix to prevent the sidebar covering the nav menu */
@media (min-width: 768px) {
	.sidebar {
		top: 60px !important;
	}
}

/* sidebar header colour */
.sidebar-header {
	background-color: #4676fa !important;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	background-color: #2d65ff !important;
}

.sidebar-content {
	overflow: hidden !important;
}

/******* SIDEBAR - SEARCH *******/

#map-file-search-input {
	padding: 15px 0;
}

#map-file-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#map-file-search-input input:focus {
	z-index: 2 !important;
}


#map-file-search-input button {
	border: 0;
	background: none;
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sidebar-search-results-container {
	height: auto;
	min-height: 75px;
	margin-left: -21px;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
	word-wrap: break-word;
}

.sidebar-search-results-container .search-file-heading {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebar-search-results-container span{
	display:block;
	font-size: 12px;
}

@media (min-width: 768px) {
	.sidebar-search-results-container .search-file-heading {
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.sidebar-search-results-container span{
		display:block;
		font-size: 11px;
	}
}

@media (min-width: 1200px) {
	.sidebar-search-results-container .search-file-heading {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.sidebar-search-results-container span{
		display:block;
		font-size: 12px;
	}
}

.sidebar-search-results-container:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.sidebar-search-results-container .left {
	float: left;
	width: 75px;
	text-align: center;
	height: auto;
	min-height: 75px;
	position: relative;
	margin-right: -75px;
}

.sidebar-search-results-container .left i {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.sidebar-search-results-container .right {
	margin-left: 75px;
	height: auto;
	min-height: 75px;
	position: relative;
	padding: 8px 0 8px 5px;
}

#sidebar-search-body {
	overflow-y: auto;
	margin-left: -20px;
	padding-left: 20px;
	position: absolute;
	top: 104px;
	bottom: 0;
	width: 100%;
}

/******* SIDEBAR - FILTERS *******/

#sidebar-filters-body {
	padding: 20px 0;
}

/******* MARKERS *******/

.position-icon {
	border-radius: 50px;	/* sets the radius of the avatar in the position icon so it appears as a circle, not a rectangle */
}

/* ========== SCROLLBAR ========== */

::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #888;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

/* ========== TOASTS ========== */

/* To render line breaks - '\n' */
#toast-container .toast-message {
	white-space: pre-wrap;
}

#toast-container .toast-warning {
	background-color: #ffd600 !important;
	border-color: #ffd600 !important;
	color: #714700 !important;
}

#toast-container .toast-warning .toast-close-button {
	color: #714700 !important;
}

#toast-container > .toast-warning {
	background-image: none !important;
}

#toast-container > .toast-warning:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 24px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1.5em;
}        

#toast-container > .toast-warning:before {
	content: "\f071";
}

#toast-container > .toast-error {
	background-image: none !important;
}

#toast-container > .toast-error:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 30px;
	float: left;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1em;
}

#toast-container > .toast-error:before {
	content: "\f12a";
}

/* ========== ANGULAR LOADING OVERLAY ========== */

.loading-overlay--active .blur-this{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* ========== BUBBLE CHART PAGE ========== */

.number-input-bubble:invalid+span:after {
	font-family: FontAwesome;
	content: "\f06a";
	padding-left: 5px;
}

/* ========== NO-UI-SLIDER ========== */

.noUi-connect {
	background: var(--main-colour) !important;
}

/* ========== FILE TYPE ICONS ========== */

.fa-file-pdf-o {
	color: #ee3124;
}

.fa-file-word-o {
	color: #295497;
}

.fa-file-image-o {
	color: #00a514;
}

.fa-file-text-o {
	color: #464646;
}

.fa-file-video-o {
	color: #6d36a0;
}

.fa-file-audio-o {
	color: #b3b300;
}


/* ========== FILE BROWSER PAGE ========== */

.file-browser-table .file-name-cell {
	cursor: pointer;
}

.file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.file-browser-table .file-name-cell i{
	padding-right: 5px;
}

.file-browser-table td.file-name-cell {
	vertical-align: middle !important;
}

.file-browser-table td.last-modified-cell,
.file-browser-table td.uploaded-by-cell,
.file-browser-table td.size-cell,
.file-browser-table td.command-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

/* ========== FILE UPLOAD MODAL ========== */

.upload-modal .file-area {
	width: 100%;
	height: 60vh;
	position: relative;
}
.upload-modal #file-input {
	z-index: 99999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
}
.upload-modal .file-area .file-dummy {
	width: 100%;
	height: 100%;
	text-align: center;
	border: #333 dashed 2px;
	border-radius: 10px;
	transition: background 0.3s, border-color 0.3s;
	-webkit-transition: background 0.3s, border-color 0.3s;
}
.upload-modal .file-area .file-dummy .default {
	font-size: 14px;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.upload-modal .file-area .file-dummy .default i {
	font-size: 150px;
}
.upload-modal #file-input:hover + .file-dummy {
	background: #edf5ff;
	border-color: #4676fa;
}
.upload-modal #file-input:hover + .file-dummy .default {
	color: #4676fa;
}
.upload-modal .over + .file-dummy {
	background: #edf5ff;
	border-color: #4676fa;
}
.upload-modal .over + .file-dummy .default {
	color: #4676fa;
}
.upload-modal tags-input .tags {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* ========== HOME PAGE ========== */

.home-recent-files-table .file-name-cell {
	cursor: pointer;
}

.home-recent-files-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.home-recent-files-table .file-name-cell i{
	padding-right: 5px;
}

.home-recent-files-table td.file-name-cell {
	vertical-align: middle !important;
}

.home-recent-files-table-container .ng-table-pager {
	display:none;
}

/* ========== ANALYSIS PAGE ========== */

.analysis-browser-table td {
	border-top: none !important;
}

.analysis-browser-table td.name-cell,
.analysis-browser-table td.date-created-cell,
.analysis-browser-table td.created-by-cell {
	cursor: pointer;
}

.analysis-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.analysis-browser-table td.name-cell {
	vertical-align: middle !important;
}

.analysis-browser-table td.date-created-cell,
.analysis-browser-table td.created-by-cell,
.analysis-browser-table td.context-menu-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .view-cell>a:hover {
	background-color: #5cb85c;
	color: #fff;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .edit-cell>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .delete-cell>a:hover {
	background-color: #d9534f;
	color: #fff;
}

/* ========== NEW ANALYSIS MODAL ========== */

.analysis-file-browser-table {

}

.analysis-file-browser-table td {
	border-top: none !important;
}

.analysis-file-browser-table td.name-cell,
.analysis-file-browser-table td.checkbox-cell,
.analysis-file-browser-table td.checkbox-cell input,
.analysis-file-browser-table td.last-modified-cell,
.analysis-file-browser-table td.created-by-cell {
	cursor: pointer;
}

.analysis-file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.analysis-file-browser-table .row-selected {
	background: rgba(33, 203, 2, 0.15) !important;
}

.analysis-file-browser-table .row-selected:hover {
	background: rgba(33, 203, 2, 0.15) !important;
}

.analysis-file-browser-table td.name-cell {
	vertical-align: middle !important;
}

.analysis-file-browser-table td.checkbox-cell,
.analysis-file-browser-table td.last-modified-cell,
.analysis-file-browser-table td.created-by-cell,
.analysis-file-browser-table td.context-menu-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.analysis-file-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

.analysis-file-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .view-cell>a:hover {
	background-color: #5cb85c;
	color: #fff;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .view-raw-cell>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .select-cell>a:hover {
	color: #fff;
	background-color: #551A8B;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .unselect-cell>a:hover {
	color: #fff;
	background-color: #551A8B;
}

.analysis-browser-table td.context-menu-cell .dropdown-menu .delete-cell>a:hover {
	background-color: #d9534f;
	color: #fff;
}

/* ========== UPDATE PROFILE MODAL ========== */

/* Upload Avatar */
#upload-avatar-container img:hover {
	opacity: 0.5
}
#upload-avatar-container:hover a {
	opacity: 1;
	top: 0;
	z-index: 500;
}

#upload-avatar-container:hover a span {
	top: 50%;
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color:white;
}

#upload-avatar-container a {
	display: block;
	position: absolute;
	top: -100%;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
}

/* Password Fields */
.password-error-msg {
	color: #a94442;
	font-weight: bold;
	padding: 5px 0;
}

.animate-show-hide.ng-hide {
	opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

/* ========== USER MANAGEMENT PAGE ========== */

#user-management .users-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

#user-management .users-table .avatar-cell {
	cursor: pointer;
}

#user-management .users-browser-table td.avatar-cell,
#user-management .users-browser-table td.first-name-cell,
#user-management .users-browser-table td.last-name-cell,
#user-management .users-browser-table td.email-cell,
#user-management .users-browser-table td.role-cell,
#user-management .users-browser-table td.action-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

#user-management .users-browser-table td {
	border-top: none !important;
}

#user-management .users-browser-table td.name-cell,
#user-management .users-browser-table td.date-created-cell,
#user-management .users-browser-table td.created-by-cell {
	cursor: pointer;
}

#user-management .users-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

#user-management .users-browser-table td.name-cell {
	vertical-align: middle !important;
}

#user-management .users-browser-table td.date-created-cell,
#user-management .users-browser-table td.created-by-cell,
#user-management .users-browser-table td.context-menu-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

#user-management .users-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

#user-management .users-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

#user-management .users-browser-table td.context-menu-cell .dropdown-menu .view-cell>a:hover {
	background-color: #5cb85c;
	color: #fff;
}

#user-management .users-browser-table td.context-menu-cell .dropdown-menu .edit-cell>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

#user-management .users-browser-table td.context-menu-cell .dropdown-menu .delete-cell>a:hover {
	background-color: #d9534f;
	color: #fff;
}

/* ========== MAP PAGE ========== */

@media only screen and (max-width: 481px) {
	.map-dependent-marker-info {
		z-index: 99999;
		position: fixed;
		left: 50%;
		bottom: 10px;
		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}
}

@media only screen and (min-width: 480px) {
	.map-dependent-marker-info {
		z-index: 99999;
		position: fixed;
		left: 50%;
		top: 75px;
		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}
}

.map-dependent-marker-info > div {
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 15px;
	width: 300px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-position: 15px center;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 12px #999999;
	-webkit-box-shadow: 0 0 12px #999999;
	box-shadow: 0 0 12px #999999;
	color: #ffffff;
	opacity: 0.9;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=90);
	box-sizing: border-box;
	background-color: #fff;
}

.dependent-msg{
	white-space: pre-wrap;
	color: #000;
	text-align: center;
	padding: 0 0 10px 0;
}

.map-dependent-marker-info a {
	display: block;
	width: 100px;
	margin: 0 auto;
}

/* ========== NEW DATASET MODAL ========== */

#selected-files {
	background: rgba(238, 238, 238, 0.8);
	padding: 10px;
	border-radius: 5px;
	color: #333;
	border: 1px solid #cecece;
	word-wrap: break-word;
}

#selected-files span {
	margin-bottom: 5px;
	display: block;
}

.new-dataset-table .name-cell {
	cursor: pointer;
}

.new-dataset-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.new-dataset-table .name-cell i{
	padding-right: 5px;
}

.new-dataset-table td.name-cell {
	vertical-align: middle !important;
}

.new-dataset-table td.last-modified-cell,
.new-dataset-table td.created-by-cell,
.new-dataset-table td.command-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

/* ========== NEW LOGIN PAGE ========== */

@media screen and (max-width: 359px) {

	#login-page-css .buttonPlacementFix > button[type="submit"] {
		margin: -3px 75px;
		top:-30px;
		left:-10px;
	}

}
@media screen and (min-width:360px) and (max-width: 430px) {
	#login-page-css .profileImage > img {
		max-width:80px;
		max-height:80px;
	}
	#login-page-css .mainLogo > img {
		max-width:200px;
	}
	#login-page-css .invisibleClass {
		display:none;
	}
	#login-page-css .buttonPlacementFix > button[type="submit"] {
		margin: -3px 70px;
		top:-25px;
	}
	#login-page-css .login {
		min-height:475px;
		height:475px;
	}
}
@media screen and (min-width:431px) and (max-width: 767px) {
	#login-page-css .profileImage > img {
		max-width:80px;
		max-height:80px;
	}
	#login-page-css .mainLogo > img {
		max-width:200px;
	}
	#login-page-css .invisibleClass {
		display:none;
	}
	#login-page-css .buttonPlacementFix > button[type="submit"] {
		margin: -3px 70px;
		top:-25px;
		right:-67px;
	}
	#login-page-css .login {
		min-height:475px;
		height:475px;
	}
}
@media screen and (max-height: 580px) {
	#login-page-css .invisibleClassHeight {
		display:none;
	}
	#login-page-css .invisibleClassHeight > span {
		display:none;
	}
}
@media screen and (min-width: 768px) {
	#login-page-css .login {
		min-height:510px;
	}
}

#login-page-css {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #4676fa;
	color: rgba(0,0,0,0.6);
	font-family: Roboto;
	font-weight: 500;
}

#login-page-css .login {
	position: relative;
	padding: 10px;
	margin: 40px auto 80px auto;
	border-radius: 3px;
	background: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
	overflow: hidden;
}
#login-page-css .profileImage{
	text-align:center;
}
#login-page-css .login > i {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}
#login-page-css .login .photo {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px 135px;
	border-radius: 50%;
	background: rgb(223, 223, 223);
	border: 13px solid rgb(223, 223, 223);
	overflow: hidden !important;
	transform: rotate(-1deg);
}
#login-page-css .login .photo:before {
	position: absolute;
	content: '';
	width: 35px;
	height: 35px;
	top: 0px;
	right: 20px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: scale(0);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-head 0.5s 0s forwards;
	-moz-animation: user-head 0.5s 0s forwards;
	animation: user-head 0.5s 0s forwards;
}
#login-page-css .login .photo:after {
	position: absolute;
	content: '';
	width: 140px;
	height: 220px;
	top: 38px;
	right: -32px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: translateY(36px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-body 0.5s 0.3s forwards;
	-moz-animation: user-body 0.5s 0.3s forwards;
	animation: user-body 0.5s 0.3s forwards;
}
#login-page-css .login > span {
	display: block;
	text-align: center;
	margin: -15px 0;
	font-size: 15px;
}
#login-page-css form {
	position: relative;
	width: 350px;
	margin: 50px 15px;
}
#login-page-css .form-group-qda {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
}
#login-page-css .form-control-qda {
	display: block;
	height: 36px;
	width: 100%;
	border: none;
	border-radius: 0 !important;
	font-size: 15px;
	font-family: inherit;
	font-weight: 300;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}
#login-page-css .form-control-qda:focus {
	border-bottom: 2px solid rgb(3, 169, 245);
	outline: none;
	box-shadow: none;
}
#login-page-css .form-highlight {
	position: absolute;
	height: 60%;
	width: 60px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.4;
}
#login-page-css .form-control-qda:focus ~ .form-highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}
#login-page-css .float-label {
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 16px;
	color: #999;
	font-weight: 300;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
#login-page-css .form-control-qda:focus ~ .float-label, #login-page-css .form-control-qda:valid ~ .float-label {
	top: -15px;
	font-size: 12px;
}
#login-page-css .form-group-qda erroru, #login-page-css .form-group-qda errorp {
	position: absolute;
	width: 100%;
	left: 0;
	top: 38px;
	font-size: 11px;
	color: #d34336;
	font-weight: 300;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	opacity: 0;
}
#login-page-css .form-group-qda erroru i, #login-page-css .form-group-qda errorp i {
	position: absolute;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: right;
}
#login-page-css .form-group-qda erroru i svg, #login-page-css .form-group-qda errorp i svg {
	fill:#d34336;
}
#login-page-css .form-group-qda[errr] .float-label {
	color: #d34336 !important;
}
#login-page-css .form-group-qda[errr] .form-control-qda {
	border-bottom: 1px solid #d34336 !important;	
}
#login-page-css .form-group-qda[errr] .form-control-qda:focus {
	border-bottom: 2px solid #d34336 !important;	
}
#login-page-css .form-group-qda[errr] erroru, .form-group-qda[errr] errorp  {
	opacity: 1;
}
#login-page-css input[type=checkbox]
{
	display: none;
	visibility: hidden;
}
#login-page-css input[type="checkbox"] + label
{
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#login-page-css input[type="checkbox"] + label:before
{
	display: inline-block;
	content: "";
	margin: 0 15px 3px 0px;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 2px solid #5a5a5a;
	border-radius: 2px;
	vertical-align: middle;
}
#login-page-css input[type=checkbox]:checked + label:before
{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
	background-color: rgb(3, 169, 245);
	border-color: rgb(3, 169, 245);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 11px auto;
	-moz-background-size: 11px auto;
	-o-background-size: 11px auto;
	background-size: 11px auto;
}
#login-page-css button[type="submit"] {
	position: relative;
	float: right;
	font-family: inherit;
	font-weight: 100;
	font-size: 15px;
	border: 0;
	margin: -3px 0px;
	padding: 5px 15px;
	border-radius: 3px;
	cursor: pointer;
	background: #4676fa;
	color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
#login-page-css button[type="submit"]:focus {
	outline: none;
}
#login-page-css .complete-survey-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin-left: -10px;
	line-height: 29px;
	text-align: center;
	cursor: pointer;
	border-top: 1px solid rgba(117, 117, 117, 0.15);
}
#login-page-css .complete-survey-btn a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: inherit;
}
#login-page-css .complete-survey-btn a:hover {
	color: rgba(0,0,0,0.9);
	text-decoration: underline;
}
#login-page-css .complete-survey-btn a:focus {
	outline: none;
}
#login-page-css .copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}
#login-page-css .copyright a {
	text-decoration: none;
	color: rgb(3, 169, 245);
}
#login-page-css .copyright a:hover {
	transition: none;
	border-bottom: 1px solid rgb(3, 169, 245);
}

/* ========== NEW FORGOT PASSWORD ========== */

@media screen and (max-width: 339px) {
	#forgot-password-css .mainLogo > img {
		max-width:200px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -120px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (min-width:340px) and (max-width: 367px) {
	#forgot-password-css .mainLogo > img {
		max-width:200px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -105px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}

}
@media screen and (min-width:368px) and (max-width: 439px) {
	#forgot-password-css .mainLogo > img {
		max-width:200px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -87px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}

}
@media screen and (min-width:440px) and (max-width: 767px) {
	#forgot-password-css .mainLogo > img {
		max-width:200px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (max-height: 580px) {
	#forgot-password-css .invisibleClassHeight {
		display:none;
	}
	#forgot-password-css .invisibleClassHeight > span {
		display:none;
	}
}
@media screen and (min-width: 768px) {
	#forgot-password-css .login {
		min-height:275px;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
}
@media screen and (height:1024px) and (width: 768px) {
	#forgot-password-css .mainLogo > img {
		min-width:300px;
		max-width:300px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (height:1366px) and (width: 1024px) {
	#forgot-password-css .mainLogo > img {
		max-width:200px;
	}
	#forgot-password-css .invisibleClass {
		display:none;
	}
	#forgot-password-css .buttonPlacementFix > button[type="submit"] {
		margin: 10px -67px;
	}
	#forgot-password-css .login {
		min-height:275px;
		height:275px;
	}
}

#forgot-password-css {
	width: 100%;
	height: 100%;
	background: #4676fa;
	color: rgba(0,0,0,0.6);
	font-family: Roboto;
	font-weight: 500;
}

#forgot-password-css .login {
	position: relative;
	padding: 10px;
	margin: 40px auto 80px auto;
	border-radius: 3px;
	background: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
	overflow: hidden;
}
#forgot-password-css .profileImage{
	text-align:center;
}
#forgot-password-css .login > i {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}
#forgot-password-css .login .photo {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px 135px;
	border-radius: 50%;
	background: rgb(223, 223, 223);
	border: 13px solid rgb(223, 223, 223);
	overflow: hidden !important;
	transform: rotate(-1deg);
}
#forgot-password-css .login .photo:before {
	position: absolute;
	content: '';
	width: 35px;
	height: 35px;
	top: 0px;
	right: 20px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: scale(0);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-head 0.5s 0s forwards;
	-moz-animation: user-head 0.5s 0s forwards;
	animation: user-head 0.5s 0s forwards;
}
#forgot-password-css .login .photo:after {
	position: absolute;
	content: '';
	width: 140px;
	height: 220px;
	top: 38px;
	right: -32px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: translateY(36px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-body 0.5s 0.3s forwards;
	-moz-animation: user-body 0.5s 0.3s forwards;
	animation: user-body 0.5s 0.3s forwards;
}
#forgot-password-css .login > span {
	display: block;
	text-align: center;
	margin: -15px 0;
	font-size: 15px;
}
#forgot-password-css form {
	position: relative;
	width: 350px;
	margin: 50px 15px;
}
#forgot-password-css .form-group-qda {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
}
#forgot-password-css .form-control-qda {
	display: block;
	height: 36px;
	width: 100%;
	border: none;
	border-radius: 0 !important;
	font-size: 15px;
	font-family: inherit;
	font-weight: 300;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}
#forgot-password-css .form-control-qda:focus {
	border-bottom: 2px solid rgb(3, 169, 245);
	outline: none;
	box-shadow: none;
}
#forgot-password-css .form-highlight {
	position: absolute;
	height: 60%;
	width: 60px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.4;
}
#forgot-password-css .form-control-qda:focus ~ .form-highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}
#forgot-password-css .float-label {
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 16px;
	color: #999;
	font-weight: 300;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
#forgot-password-css .form-control-qda:focus ~ .float-label, #forgot-password-css .form-control-qda:valid ~ .float-label {
	top: -15px;
	font-size: 12px;
}
#forgot-password-css .form-group-qda erroru, .form-group-qda errorp {
	position: absolute;
	width: 100%;
	left: 0;
	top: 38px;
	font-size: 11px;
	color: #d34336;
	font-weight: 300;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	opacity: 0;
}
#forgot-password-css .form-group-qda erroru i, #forgot-password-css .form-group-qda errorp i {
	position: absolute;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: right;
}
#forgot-password-css .form-group-qda erroru i svg, .form-group-qda errorp i svg {
	fill:#d34336;
}
#forgot-password-css .form-group-qda[errr] .float-label {
	color: #d34336 !important;
}
#forgot-password-css .form-group-qda[errr] .form-control-qda {
	border-bottom: 1px solid #d34336 !important;	
}
#forgot-password-css .form-group-qda[errr] .form-control-qda:focus {
	border-bottom: 2px solid #d34336 !important;	
}
#forgot-password-css .form-group-qda[errr] erroru, .form-group-qda[errr] errorp  {
	opacity: 1;
}
#forgot-password-css input[type=checkbox]
{
	display: none;
	visibility: hidden;
}
#forgot-password-css input[type="checkbox"] + label
{
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#forgot-password-css input[type="checkbox"] + label:before
{
	display: inline-block;
	content: "";
	margin: 0 15px 3px 0px;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 2px solid #5a5a5a;
	border-radius: 2px;
	vertical-align: middle;
}
#forgot-password-css input[type=checkbox]:checked + label:before
{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
	background-color: rgb(3, 169, 245);
	border-color: rgb(3, 169, 245);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 11px auto;
	-moz-background-size: 11px auto;
	-o-background-size: 11px auto;
	background-size: 11px auto;
}
#forgot-password-css button[type="submit"] {
	position: absolute;
	font-family: inherit;
	font-weight: 100;
	font-size: 15px;
	border: 0;
	margin: -3px 0px;
	padding: 5px 15px;
	border-radius: 3px;
	cursor: pointer;
	background: #4676fa;
	color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
#forgot-password-css button[type="submit"]:focus {
	outline: none;
}
#forgot-password-css footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin-left: -10px;
	line-height: 29px;
	text-align: center;
	cursor: pointer;
	border-top: 1px solid rgba(117, 117, 117, 0.15);
}
#forgot-password-css footer a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: inherit;
}
#forgot-password-css footer a:hover {
	color: rgba(0,0,0,0.9);
	text-decoration: underline;
}
#forgot-password-css footer a:focus {
	outline: none;
}
#forgot-password-css .copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}
#forgot-password-css .copyright a {
	text-decoration: none;
	color: rgb(3, 169, 245);
}
#forgot-password-css .copyright a:hover {
	transition: none;
	border-bottom: 1px solid rgb(3, 169, 245);
}

/* ========== ENTER SURVEY CODE FORM ========== */

@media screen and (max-width: 339px) {
	#enter-code-css .mainLogo > img {
		max-width:200px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -120px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (min-width:340px) and (max-width: 360px) {
	#enter-code-css .mainLogo > img {
		max-width:200px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -105px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}

}
@media screen and (min-width:361px) and (max-width: 439px) {
	#enter-code-css .mainLogo > img {
		max-width:200px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -87px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}

}
@media screen and (min-width:440px) and (max-width: 767px) {
	#enter-code-css .mainLogo > img {
		max-width:200px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (max-height: 580px) {
	#enter-code-css .invisibleClassHeight {
		display:none;
	}
	#enter-code-css .invisibleClassHeight > span {
		display:none;
	}
}
@media screen and (min-width: 768px) {
	#enter-code-css .login {
		min-height:275px;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
}
@media screen and (height:1024px) and (width: 768px) {
	#enter-code-css .mainLogo > img {
		min-width:300px;
		max-width:300px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		text-align:center;
		margin: 10px -67px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}
}
@media screen and (height:1366px) and (width: 1024px) {
	#enter-code-css .mainLogo > img {
		max-width:200px;
	}
	#enter-code-css .invisibleClass {
		display:none;
	}
	#enter-code-css .buttonPlacementFix > button[type="submit"] {
		margin: 10px -67px;
	}
	#enter-code-css .login {
		min-height:275px;
		height:275px;
	}
}
#enter-code-css {
	width: 100%;
	height: 100%;
	background: #4676fa;
	color: rgba(0,0,0,0.6);
	font-family: Roboto;
	font-weight: 500;
}

#enter-code-css .login {
	position: relative;
	padding: 10px;
	margin: 40px auto 80px auto;
	border-radius: 3px;
	background: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
	overflow: hidden;
}
#enter-code-css .profileImage{
	text-align:center;
}
#enter-code-css .login > i {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}
#enter-code-css .login .photo {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px 135px;
	border-radius: 50%;
	background: rgb(223, 223, 223);
	border: 13px solid rgb(223, 223, 223);
	overflow: hidden !important;
	transform: rotate(-1deg);
}
#enter-code-css .login .photo:before {
	position: absolute;
	content: '';
	width: 35px;
	height: 35px;
	top: 0px;
	right: 20px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: scale(0);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-head 0.5s 0s forwards;
	-moz-animation: user-head 0.5s 0s forwards;
	animation: user-head 0.5s 0s forwards;
}
#enter-code-css .login .photo:after {
	position: absolute;
	content: '';
	width: 140px;
	height: 220px;
	top: 38px;
	right: -32px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: translateY(36px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-body 0.5s 0.3s forwards;
	-moz-animation: user-body 0.5s 0.3s forwards;
	animation: user-body 0.5s 0.3s forwards;
}
#enter-code-css .login > span {
	display: block;
	text-align: center;
	margin: -15px 0;
	font-size: 15px;
}
#enter-code-css form {
	position: relative;
	width: 350px;
	margin: 50px 15px;
}
#enter-code-css .form-group-qda {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
}
#enter-code-css .form-control-qda {
	display: block;
	height: 36px;
	width: 100%;
	border: none;
	border-radius: 0 !important;
	font-size: 15px;
	font-family: inherit;
	font-weight: 300;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}
#enter-code-css .form-control-qda:focus {
	border-bottom: 2px solid rgb(3, 169, 245);
	outline: none;
	box-shadow: none;
}
#enter-code-css .form-highlight {
	position: absolute;
	height: 60%;
	width: 60px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.4;
}
#enter-code-css .form-control-qda:focus ~ .form-highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}
#enter-code-css .float-label {
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 16px;
	color: #999;
	font-weight: 300;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
#enter-code-css .form-control-qda:focus ~ .float-label, #enter-code-css .form-control-qda:valid ~ .float-label {
	top: -15px;
	font-size: 12px;
}
#enter-code-css .form-group-qda erroru, #enter-code-css .form-group-qda errorp {
	position: absolute;
	width: 100%;
	left: 0;
	top: 38px;
	font-size: 11px;
	color: #d34336;
	font-weight: 300;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	-webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
	opacity: 0;
}
#enter-code-css .form-group-qda erroru i, #enter-code-css .form-group-qda errorp i {
	position: absolute;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: right;
}
#enter-code-css .form-group-qda erroru i svg, #enter-code-css .form-group-qda errorp i svg {
	fill:#d34336;
}
#enter-code-css .form-group-qda[errr] .float-label {
	color: #d34336 !important;
}
#enter-code-css .form-group-qda[errr] .form-control-qda {
	border-bottom: 1px solid #d34336 !important;	
}
#enter-code-css .form-group-qda[errr] .form-control-qda:focus {
	border-bottom: 2px solid #d34336 !important;	
}
#enter-code-css .form-group-qda[errr] erroru, #enter-code-css .form-group-qda[errr] errorp  {
	opacity: 1;
}
#enter-code-css input[type=checkbox]
{
	display: none;
	visibility: hidden;
}
#enter-code-css input[type="checkbox"] + label
{
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#enter-code-css input[type="checkbox"] + label:before
{
	display: inline-block;
	content: "";
	margin: 0 15px 3px 0px;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 2px solid #5a5a5a;
	border-radius: 2px;
	vertical-align: middle;
}
#enter-code-css input[type=checkbox]:checked + label:before
{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
	background-color: rgb(3, 169, 245);
	border-color: rgb(3, 169, 245);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 11px auto;
	-moz-background-size: 11px auto;
	-o-background-size: 11px auto;
	background-size: 11px auto;
}
#enter-code-css button[type="submit"] {
	position: absolute;
	font-family: inherit;
	font-weight: 100;
	font-size: 15px;
	border: 0;
	margin: -3px 0px;
	padding: 5px 15px;
	border-radius: 3px;
	cursor: pointer;
	background: #4676fa;
	color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
#enter-code-css button[type="submit"]:focus {
	outline: none;
}
#enter-code-css .copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}
#enter-code-css .copyright a {
	text-decoration: none;
	color: rgb(3, 169, 245);
}
#enter-code-css .copyright a:hover {
	transition: none;
	border-bottom: 1px solid rgb(3, 169, 245);
}

/* ========== SURVEYS PAGE =========== */

#survey-page-css .surveys-browser-table td {
	border-top: none !important;
}

#survey-page-css .surveys-browser-table td.survey-name-cell,
#survey-page-css .surveys-browser-table td.gender-cell,
#survey-page-css .surveys-browser-table td.age-cell,
#survey-page-css .surveys-browser-table td.location-cell,
#survey-page-css .surveys-browser-table td.responses-cell,
#survey-page-css .surveys-browser-table td.created-by-cell,
#survey-page-css .surveys-browser-table td.date-created-cell,
#survey-page-css .surveys-browser-table td.action-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
	cursor: pointer;
}

#survey-page-css .surveys-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

#survey-page-css .surveys-browser-table .row-selected {
	background: rgba(33, 203, 2, 0.15) !important;
}

#survey-page-css .surveys-browser-table .row-selected:hover {
	background: rgba(33, 203, 2, 0.15) !important;
}

#survey-page-css .surveys-browser-table td.name-cell {
	vertical-align: middle !important;
}

#survey-page-css .surveys-browser-table td.date-created-cell,
#survey-page-css .surveys-browser-table td.created-by-cell,
#survey-page-css .surveys-browser-table td.context-menu-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu .view-cell>a:hover {
	background-color: #5cb85c;
	color: #fff;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu .response-cell>a:hover {
	background-color: #f0ad4e;
	color: #fff;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu .edit-cell>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

#survey-page-css .surveys-browser-table td.context-menu-cell .dropdown-menu .delete-cell>a:hover {
	background-color: #d9534f;
	color: #fff;
}

/* ========== KNOWLEDGEBASE CSS ========= */

#knowledgebase-css body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font: 400 1.4rem 'Lato', Verdana, Helvetica, sans-serif;
}

#knowledgebase-css .menuButtonFix {
		top:-48px;
}



/* ========== VISUALISATIONS INDEX PAGE ========== */

#visualisations-index .tabbar > li > a:focus, #visualisations-index a:hover {
	color: #fff !important;
	background-color: #2d65ff !important;
	cursor: pointer;
}
#visualisations-index .tabbar > li > a {
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	padding-top:8px;
}

.vis-thumb-list {
	padding: 0;
	text-align: center;
}

.vis-thumb-list-item {
	position: relative; 
	width: 350px; 
	padding: 0; 
	margin: 0 10px 30px 10px;
	list-style: none;
	display: inline-block;
}

.vis-thumb-list-item img {
	width: 330px;
}

.vis-thumb-outer-div {
	position: relative;
	clear: left;
	background: #fff; 
	border-radius: 2px; 
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.20); 
	padding: 10px;
}

.vis-thumb-inner-div {
	max-width: 100%; 
	height: 0; 
	padding-bottom: 75%; 
	overflow: hidden;
}

.vis-thumb-img-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px;
	font-size: 26px;
	line-height: 215px;
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
	background: rgba(45,101,255,0.90);
	overflow: hidden;
	box-sizing: border-box;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.vis-thumb-img-overlay span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.vis-thumb-img-overlay:hover {
	opacity: 1.0;
	filter: alpha(opacity=1.0);
}

/******* FILE TABLE *******/

.visualisations-file-browser-table td {
	border-top: none !important;
}

.visualisations-file-browser-table td.name-cell,
.visualisations-file-browser-table td.last-modified-cell,
.visualisations-file-browser-table td.created-by-cell {
	cursor: pointer;
}

.visualisations-file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

.visualisations-file-browser-table td.name-cell {
	vertical-align: middle !important;
}

.visualisations-file-browser-table td.last-modified-cell,
.visualisations-file-browser-table td.created-by-cell,
.visualisations-file-browser-table td.context-menu-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
}

.visualisations-file-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

.visualisations-file-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

.visualisations-file-browser-table td.context-menu-cell .dropdown-menu>li>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

/* ========= FILE BROWSER TABLE ========= */

#file-browser-css .file-browser-table td {
	border-top: none !important;
}

#file-browser-css .file-browser-table .table-row:hover {
	background: rgba(70,118,250,0.15) !important;
}

#file-browser-css .file-browser-table td.name-cell {
	vertical-align: middle !important;
}

#file-browser-css .file-browser-table td.file-name-cell {
	white-space: nowrap;
	vertical-align: middle !important;
	cursor: pointer;
}
#file-browser-css .file-browser-table td.last-modified-cell,
#file-browser-css .file-browser-table td.size-cell,
#file-browser-css .file-browser-table td.command-cell,
#file-browser-css .file-browser-table td.uploaded-by-cell {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle !important;
	cursor: pointer;
}

#file-browser-css .file-browser-table td.context-menu-cell .dropdown-menu {
	border: none;
}

#file-browser-css .file-browser-table td.context-menu-cell .dropdown-menu>li>a {
	padding: 5px 20px;
}

#file-browser-css .file-browser-table td.context-menu-cell .dropdown-menu .view-cell>a:hover {
	background-color: #5cb85c;
	color: #fff;
}

#file-browser-css .file-browser-table td.context-menu-cell .dropdown-menu .detail-cell>a:hover {
	color: #fff;
	background-color: #2d65ff;
}

#file-browser-css .file-browser-table td.context-menu-cell .dropdown-menu .delete-cell>a:hover {
	background-color: #d9534f;
	color: #fff;
}

/* ========== GENERIC TABLE ========== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.Generic-Table body {
	background-color: #3e94ec;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-size: 0px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

.Generic-Table div.table-title {
	display: block;
	margin: auto;
	max-width: 600px;
	padding:0px;
	width: 100%;
}

.Generic-Table .table-title h3 {
	color: #fafafa;
	font-size: 0px;
	font-weight: 400;
	font-style:normal;
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
}


/*** Table Styles **/

.Generic-Table .table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

.Generic-Table th {
	color:#ffffff;
	background:var(--main-colour);
	font-size:18px;
	font-weight: 100;
	padding:24px;
	text-align:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align:middle;
}

.Generic-Table th:first-child {
	border-top-left-radius:7px;
}

.Generic-Table th:last-child {
	border-top-right-radius:7px;
	border-right:none;
}

.Generic-Table tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color:#000000;
	font-size:10px;
	font-weight:normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.Generic-Table tr:hover td {
	background: #d4eef9;
	color:#000000;

}

.Generic-Table tr:first-child {
	border-top:none;
}

.Generic-Table tr:last-child {
	border-bottom:none;


}

.Generic-Table tr:nth-child(odd) td {
	background:#EBEBEB;
}

.Generic-Table td:nth-child  {
	background:#EBEBEB;

}
.Generic-Table tr:nth-child(odd):hover td {
	background: #d4eef9;

	color:#000000;
}

.Generic-Table tr:last-child td:first-child {
	border-bottom-left-radius:7px;
}

.Generic-Table tr:last-child td:last-child {
	border-bottom-right-radius:7px;
}

.Generic-Table td {
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:15px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

.Generic-Table td:last-child {
	border-right: 0px;

}

.Generic-Table td:first-child {



}
.Generic-Table th.text-left {
	text-align: left;
}

.Generic-Table th.text-center {
	text-align: center;
}

.Generic-Table th.text-right {
	text-align: right;
}

.Generic-Table td.text-left {
	text-align: left;
}

.Generic-Table td.text-center {
	text-align: center;
}

.Generic-Table td.text-right {
	text-align: right;
}
.Generic-Table thead{

}