<style>
body {
	width: 100%;
	height: 100%;
	overflow:hidden;
}

#barMenu {
	padding: 75px 25px 25px 25px;
	overflow: hidden;
	background: #eee;
}

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #FFF; /* A background-color is required */
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

.axis {
	font: 10px sans-serif;
}

text {
	font-size: 30px
}

.axis path,
.axis line {
	fill: none;
	stroke: #D4D8DA;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
}

.bar-chart-tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	line-break: auto;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

#graph {
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
}

#controls-button {
	position:relative;
}
</style>

<navigation></navigation>

<div id="barMenu">
	<label>Bar Colours</label>
	<color-picker ng-model="vm.barColour" options="vm.barColourOptions" event-api="vm.barColourChange"></color-picker>
	<br />
	<label>Text Colour</label>
	<color-picker ng-model="vm.textColour" options="vm.textColourOptions" event-api="vm.textColourChange"></color-picker>
	<br />
</div>

<div id="barPanel">
	<div>
		<div id="graph"></div>
		<div ng-click="vm.toggleOptions()" style="cursor:pointer;height:48px;width:30px;background-color:#4676fa;border-radius:0 5px 5px 0;position:relative;top: 5px;">
			<i style="color:#fff;position:relative;top:13px;left:8px;width:30px" class="fa fa-arrow-right" aria-hidden="true"></i>
		</div>
	</div>

</div>