<div class="container">   

	<div ng-hide="vm.userFormComplete" class="row">
		<div class="col-md-6 col-sm-12">
			<form ng-submit="vm.onSubmit()">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input type="text" class="form-control" id="fullName" required="required" placeholder="Full Name" ng-model="vm.form.fullName">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.form.email">
				</div>
				<div class="form-group">
					<label for="gender">Gender</label>
					<select name="gender" type="text" class="form-control" id="gender" required="required" ng-model="vm.form.gender">
						<option value="">Select Gender</option> 
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group">
					<label for="age">Age</label>
					<input type="number" class="form-control" id="age" required="required" placeholder="Age" ng-model="vm.form.age" max="123" min="0">
				</div>
				<div class="form-group">
				<label for="location">Share Location</label>
					<input type="checkbox" id="location" name="location" ng-model="vm.form.location" ng-change='vm.getLocation(myCheckbox)'">
				</div>

				<button type="submit" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.geolocateButtonOptions">Continue</button>
			</form>
		</div>
	</div>

	<div id="surveyElement"></div>

	<div id="surveyResult">
		<a href="/complete-survey" ng-if="vm.surveyComplete" type="submit" class="btn btn-default" value="Enter"/>Back</a>
	</div>

</div>

<footer-generic></footer-generic>



