<div class="modal-content bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list">
	<div class="blur-this">

		<form id="add-new-analysis" name="create-new-analysis" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">

			<div class="modal-header">
				<button type="button" ng-click="vm.modal.cancel()" ng-disabled="vm.isProcessing" class="close">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 id="analysis-modal-label" class="modal-title">Analyse Data</h4>
			</div>

			<div class="modal-body">
				<div class="form-group">
					<label for="analysis-name" class="col-sm-2 control-label">Name</label>
					<div class="col-xs-12 col-sm-2">
						<input id="analysis-name" name="analysis-name" required="required" ng-model="vm.formData.analysisName" class="form-control" type="analysis-name">
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea id="description" name="description" required="required" ng-model="vm.formData.description" rows="1" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<table ng-table="vm.tableParams" class="table table-bordered table-striped analysis-file-browser-table">
							<tr class="table-row" ng-class="{'row-selected': vm.selectedFileIds[row._id]}" ng-repeat="row in $data">
								<td class="checkbox-cell" ng-click="vm.checkOrOpen(row)">
									<input type="checkbox" ng-if="row.type != 'folder' && row.type != 'parent-dir'" ng-model="vm.selectedFileIds[row._id]" ng-click="vm.checkOrOpen(row)"/>
								</td>
								<td data-title="'Name'" filter="{name: 'text'}" sortable="'name'" class="name-cell" ng-click="vm.checkOrOpen(row)">
									<span>
										<i class="{{row.icon}} fa-lg" title="{{row.type | capitalise}}"></i> {{row.name}}
									</span>
								</td>
								<td data-title="'Created By'" filter="{createdBy: 'text'}" sortable="'createdBy'" class="created-by-cell hidden-xs" header-class="'hidden-xs'" ng-click="vm.checkOrOpen(row)">{{row.createdBy}}</td>
								<td data-title="'Last Modified'" filter="{lastModified: 'text'}" sortable="'lastModified'" class="last-modified-cell hidden-xs hidden-sm" header-class="'hidden-xs hidden-sm'" ng-click="vm.checkOrOpen(row)">{{row.lastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
								<td data-title="'Action'" class="context-menu-cell">
									<div ng-if="row.type != 'folder' && row.type != 'parent-dir'" class="dropdown" style="text-align:center;">
										<span class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="select-btn" ng-hide="vm.selectedFileIds[row._id]" ng-click="vm.checkOrOpen(row)"><a href="#">Select</a></li>
											<li class="unselect-btn" ng-show="vm.selectedFileIds[row._id]" ng-click="vm.checkOrOpen(row)"><a href="#">Unselect</a></li>
											<li class="view-btn" ng-click="vm.viewFile(row, 'false')"><a href="#">View File</a></li>
											<li class="view-raw-btn" ng-click="vm.viewFile(row, 'true')"><a href="#">View Raw Text</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-xs-12" ng-show="vm.selectedFiles.length > 0">
						<p><strong>Selected Files</strong></p>
						<div id="selected-files">
							<span ng-repeat="file in vm.selectedFiles">
								<span ng-if="file.path == '/'">/{{file.name}}<br /></span>
								<span ng-if="file.path != '/'">/{{file.path}}/{{file.name}}<br /></span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button ng-click="vm.modal.cancel()" ng-disabled="vm.isProcessing" type="button" class="btn btndefault">Cancel</button>
				<button type="submit" class="btn btn-primary blueButton" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.analyseButtonOptions">Analyse</button>
			</div>

		</form>
		
	</div>
</div>