
<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="col-md-12">

		<!-- displays file list for MongoDB database -->
		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list"> 
			<div class="blur-this">
				<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
					<tr ng-repeat="row in $data">
						<td data-title="'File Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
						<td data-title="'Last Modified'" filter="{lastModified: 'text'}" sortable="'lastModified'">{{row.lastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
						<td data-title="'Uploaded By'" filter="{createdBy: 'text'}" sortable="'createdBy'">{{row.createdBy}}</td>
						<td data-title="'Size'" filter="{size: 'text'}" sortable="'size'">{{row.size | formatFileSize:2}}</td>
						<td data-title="'Command'">
							<a ng-click="vm.viewFile(row.key)" class="btn btn-success btn-xs" role="button">View</a>
							<a ng-click="vm.popupFileDetails(row.name)" class="btn btn-primary btn-xs" role="button">Details</a>
							<a ng-click="vm.confirmDelete(row.key, row.name, row.textFileKey)" class="btn btn-danger btn-xs" role="button">Delete</a>
						</td class="data-command-cell">
					</tr>
				</table>
			</div>
		</div>

		<!-- displays file list for S3

		<a ng-click="vm.getFileListS3()" class="btn btn-success btn-sm" role="button">Get File List</a>

		<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
			<tr ng-repeat="row in $data">
				<td data-title="'File'" filter="{Key: 'text'}" sortable="'Key'">{{row.Key}}</td>
				<td data-title="'Last Modified'" filter="{LastModified: 'text'}" sortable="'LastModified'">{{row.LastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
				<td data-title="'Size'" filter="{Size: 'text'}" sortable="'Size'">{{row.Size | formatFileSize:2}}</td>
				<td data-title="'StorageClass'" filter="{StorageClass: 'text'}" sortable="'StorageClass'">{{row.StorageClass}}</td>
				<td data-title="'Command'">
					<a ng-click="vm.confirmDelete(row.Key)" class="btn btn-danger btn-xs" role="button">Delete</a>
				</td class="data-command-cell">
			</tr>
		</table>

		-->

	</div>

</div>