<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="col-md-12">

		<div class="col-md-8" style="font-size: 18px; cursor: pointer;">
			<a ng-click="vm.openFolder('/')">Home</a><a ng-repeat="path in vm.pathsArray" ng-click="vm.openFolder($index)">/{{path}}</a>
		</div>

		<div class="col-md-4">
			<a ng-click="vm.newFolder()" class="btn btn-default btn-sm" role="button" style="float:right; margin-bottom:10px">New Folder</a>
			<a ng-click="vm.popupUploadFile()" id="upload-btn-file-browser" class="btn btn-default btn-sm" role="button" style="float:right; margin:0 5px 10px">Upload File</a>
		</div>

		<!-- displays file list for MongoDB database -->
		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list"> 
			<div class="blur-this file-browser-table-container">
				<table ng-table="vm.tableParams" class="table  table-bordered table-striped file-browser-table">
					<tr class="table-row" ng-repeat="row in $data">
						<td data-title="'File Name'" filter="{name: 'text'}" sortable="'name'" class="file-name-cell" ng-click="vm.viewFile(row)">
							<span>
								<i class="{{row.icon}} fa-lg" title="{{row.type | capitalise}}"></i> {{row.name}}
							</span>
						</td>
						<td data-title="'Last Modified'" filter="{lastModified: 'text'}" sortable="'lastModified'" class="last-modified-cell hidden-xs" header-class="'hidden-xs'">{{row.lastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
						<td data-title="'Uploaded By'" filter="{createdBy: 'text'}" sortable="'createdBy'" class="uploaded-by-cell hidden-xs hidden-sm" header-class="'hidden-xs hidden-sm'">{{row.createdBy}}</td>
						<td data-title="'Size'" filter="{size: 'text'}" sortable="'size'" class="size-cell hidden-xs hidden-sm hidden-md" header-class="'hidden-xs hidden-sm hidden-md'">{{row.size | formatFileSize:2}}</td>
						<td data-title="'Command'" class="command-cell">
							<a ng-if="row.type!='parent-dir'" ng-click="vm.viewFile(row)" class="btn btn-success btn-xs" role="button">
								<span ng-if="row.type!='folder'">View</span>
								<span ng-if="row.type=='folder'">Open</span>
							</a>
							<a ng-if="row.type!='parent-dir' && row.type!='folder'" ng-click="vm.popupFileDetails(row)" class="btn btn-primary btn-xs" role="button">Details</a>
							<a ng-if="row.type!='parent-dir'" ng-click="vm.confirmDelete(row)" class="btn btn-danger btn-xs" role="button">Delete</a>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- displays file list for S3

		<a ng-click="vm.getFileListS3()" class="btn btn-success btn-sm" role="button">Get File List</a>

		<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
			<tr ng-repeat="row in $data">
				<td data-title="'File'" filter="{Key: 'text'}" sortable="'Key'">{{row.Key}}</td>
				<td data-title="'Last Modified'" filter="{LastModified: 'text'}" sortable="'LastModified'">{{row.LastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
				<td data-title="'Size'" filter="{Size: 'text'}" sortable="'Size'">{{row.Size | formatFileSize:2}}</td>
				<td data-title="'StorageClass'" filter="{StorageClass: 'text'}" sortable="'StorageClass'">{{row.StorageClass}}</td>
				<td data-title="'Command'">
					<a ng-click="vm.confirmDelete(row.Key)" class="btn btn-danger btn-xs" role="button">Delete</a>
				</td class="data-command-cell">
			</tr>
		</table>

	-->

</div>

</div>

	<footer-generic></footer-generic>