<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="row">
		<div class="col-md-12">
			<p>This page is for creating, viewing, modifying, and deleting surveys.</p>
		</div>
	</div>

	<a href="/survey/create" type="button" class="btn btn-md btn-success">Create Survey</a>

	<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list"> 
		<div class="blur-this file-browser-table-container">
			<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped file-browser-table" style="margin-top:5px">
				<tr class="table-row" ng-repeat="row in $data">
				
					<td data-title="'Survey Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
					<td data-title="'Responses'" filter="{name: 'number'}" sortable="'numResponses'">{{row.numResponses}}</td>
					<td data-title="'Created By'" filter="{createdBy: 'text'}" sortable="'createdBy'">{{row.createdBy}}</td>
					<td data-title="'Date Created'" filter="{dateCreated: 'text'}" sortable="'dateCreated'">{{row.dateCreated | date : "dd MMMM, yyyy h:mm a"}}</td>
					<td data-title="'Command'">
						<a href="/survey/view/{{row.accessId}}" class="btn btn-success btn-xs" role="button">View</a>
						<a href="/survey/responses/{{row.accessId}}" class="btn btn-warning btn-xs" role="button">Responses</a>
						<a href="/survey/responses/{{row.accessId}}" class="btn btn-primary btn-xs" role="button">Edit</a>
						<a ng-click="vm.confirmDelete(row._id, row.name)" class="btn btn-danger btn-xs" role="button">Delete</a>
					</td class="data-command-cell">
				
				<tr/>
			</table>
			
		</div>
	</div>
</div>
	<footer-generic></footer-generic>

