<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="col-md-12">
	
		<p>This page is for creating, viewing, modifying, and deleting surveys.</p>

		<a href="/survey/create" type="button" class="btn btn-md btn-success">Create Survey</a>

		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list"> 
			<div class="blur-this file-browser-table-container">
				<table ng-table="vm.tableParams"class="table  table-bordered table-striped file-browser-table" style="margin-top:5px">
					<tr class="table-row" ng-repeat="row in $data">
					
						<td data-title="'Survey Name'" filter="{name: 'text'}" sortable="'name'" class="survey-name-cell hidden-sm"  header-class="'hidden-xs hidden-sm'">{{row.name}}</td>
						<td data-title="'Responses'" filter="{name: 'number'}" sortable="'numResponses'" class="responses-cell hidden-sm"   header-class="'hidden-xs hidden-sm'">{{row.numResponses}}</td>
						<td data-title="'Created By'" filter="{createdBy: 'text'}" sortable="'createdBy'" class="created-by-cell hidden-sm"   header-class="'hidden-xs hidden-sm'">{{row.createdBy}}</td>
						<td data-title="'Date Created'" filter="{dateCreated: 'text'}" sortable="'dateCreated'" class="date-created-cell hidden-sm"   header-class="'hidden-xs hidden-sm'">{{row.dateCreated | date : "dd MMMM, yyyy h:mm a"}}</td>
						<td data-title="'Command'" class="context-menu-cell hidden-sm"   header-class="'hidden-xs hidden-sm'">
						<div class="dropdown">
								<span class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="view-cell"><a href="/survey/view/{{row.accessId}}">View</a></li>
									<li class="response-cell"><a href="/survey/responses/{{row.accessId}}">Responses</a></li>
									<li class="edit-cell"><a href="/survey/responses/{{row.accessId}}">Edit</a></li>
									<li ng-click="vm.confirmDelete(row._id, row.name)" class="delete-cell"><a>Delete</a></li>
								</ul>
							</div>
						
						
							
							
							
							
						</td class="data-command-cell">
					
					<tr/>
				</table>
			</div>	
		</div>
	</div>
</div>
	<footer-generic></footer-generic>

