
<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>
	
	<!--System Settings-->
	<div class="col-md-12" style="height:100%;">
		<div class="well" style="min-height:370px;height:100%;">
			<form id="add-new-dataset" name="add-new-dataset" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Google Maps API Key:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="AIzaSyOEMqLtxOn2Pk4ggQcnEyD0jRZbGFYfR5c" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Mapbox Access Token:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="pk.cyJ1IjoiYWlkYW4yNzUjLCJhIjoiY2p0MWVrMmFxMGVuNjJxbnlcqmV6ZDJ0oCJ9.h270g3NND4PPZz9U1z40C3w" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Watson Keys (Username):</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="56e56219-6926-4ef8-93d4-70c3202cda5e" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Watson Keys (Password):</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="bAf38DQyEi1g" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Watson Keys (Version Date):</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="2017-02-27" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">AWS_ACCESS_KEY_ID:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="AKIAIP53REFZNB3H3GBA" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">AWS_SECRET_ACCESS_KEY:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="nDFj9KPTz3Njish1pKSc+E3Ez5eiUXYvdejy2Tiy" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">S3_BUCKET_NAME:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="nativeqda-assets-dev" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Time Zone:</label>
					<div class="col-lg-6">
						<div class="ui-select">
							<select id="user_time_zone" class="form-control">
								<option value="Server Time" selected="selected">Server Time</option>
								<option value="New Zealand">(GMT+12:00) New Zealand</option>
								<option value="New Caledonia">(GMT+11:00) New Caledonia</option>
								<option value="Sydney">(GMT+10:00) AEST Sydney</option>
								<option value="Adelaide">(GMT+09:30) ACTZ Adelaide</option>
								<option value="Perth">(GMT+08:00) AWST Perth</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Loading Animation:</label>
					<div class="col-lg-6">
						<div class="ui-select">
							<select id="user_time_zone" class="form-control">
								<option value="loadingOverlayTemplate" selected="selected">1</option>
								<option value="loadingOverlayTemplate2">2</option>
								<option value="loadingOverlayTemplate3">3</option>
								<option value="loadingOverlayTemplate4">4</option>
							</select>
						</div>
					</div>
				</div>
	
				<div class="col-lg-8">
					<div style="float:right;">
						<button type="button" class="btn btndefault">Reset</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
				<br /><br />
			</form>
		</div>
	</div>
</div>	
	<footer-generic></footer-generic>

