
<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>
	
	<!--System Settings-->
	<div class="col-md-12" style="height:100%;">
		<h2>System Settings</h2>
		<div class="well" style="min-height:370px;height:100%;">
			<form id="add-new-dataset" name="add-new-dataset" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
				
				<div class="form-group">
					<label class="col-lg-2 control-label">License Code:</label>
					<div class="col-lg-6">
						<input disabled="disabled" class="form-control" value="2ABP-8QT5-SZE8-2DDM-VJL5-3JA6-ZNAA-AU4S-Z55B" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Time Zone:</label>
					<div class="col-lg-6">
						<div class="ui-select">
							<select id="user_time_zone" class="form-control">
								<option value="Server Time" selected="selected">Server Time</option>
								<option value="New Zealand">(GMT+12:00) New Zealand</option>
								<option value="New Caledonia">(GMT+11:00) New Caledonia</option>
								<option value="Sydney">(GMT+10:00) AEST Sydney</option>
								<option value="Adelaide">(GMT+09:30) ACTZ Adelaide</option>
								<option value="Perth">(GMT+08:00) AWST Perth</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Loading Animation:</label>
					<div class="col-lg-6">
						<div class="ui-select">
							<select id="user_time_zone" class="form-control">
								<option value="loadingOverlayTemplate" selected="selected">1</option>
								<option value="loadingOverlayTemplate2">2</option>
								<option value="loadingOverlayTemplate3">3</option>
								<option value="loadingOverlayTemplate4">4</option>
							</select>
						</div>
					</div>
				</div>
	
				<div class="col-lg-8">
					<div style="float:right;">
						<button type="button" class="btn btndefault">Reset</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	
	<footer-generic></footer-generic>

</div>