<div class="modal-content">

	<div style="margin:30px;">
		<h3>File Details</h3>

		<label>File Name: </label> {{vm.file.name}}
		<br/>
		<label>Last Modified: </label> {{vm.file.lastModified | date : "dd MMMM, yyyy h:mm:ss a"}}
		<br/>
		<label>Uploaded By: </label> {{vm.file.createdBy}}
		<br/>
		<label>Size: </label> {{vm.file.size | formatFileSize:2}}
		<br/>
		<label>Database ID: </label> {{vm.file._id}}
		<br/>
		<label>S3 Key: </label> {{vm.file.key}}
		<br/>
		<label>Coordinates:</label>
		<br/>
		<label>Latitude: </label> {{vm.file.coords.coordinates[0]}}
		<br/>
		<label>Longitude: </label> {{vm.file.coords.coordinates[1]}}
		<br/>
		<span ng-hide="vm.file.tags.length == 0">
			<label>Tags: </label>
			<ul>
				<li ng-repeat="tag in vm.file.tags">{{tag}}</li>
			</ul>
		</span>

		<a ng-hide="vm.acl=='public-read'" ng-click="vm.updateAclS3(vm.file.key, 'public-read')" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.makePublicOptions">Make Public</a>

		<a ng-hide="vm.acl=='private'" ng-click="vm.updateAclS3(vm.file.key, 'private')" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.makePrivateOptions">Make Private</a>
		
		<span ng-hide="vm.acl=='private'">
			<br/>
			<br/>
			<label>Public URL: </label> <a href="{{vm.file.url}}" target=_"blank">{{vm.file.url}}</a>
		</span>
		
	</div>

</div>


