<navigation></navigation>

<!--
<div id="map-controls" class="col-xs-3 col-sm-3">

	<ul class="nav nav-tabs">
		<li class="active"><a data-target="#home" data-toggle="tab" >Search</a></li>
		<li><a data-target="#menu1" data-toggle="tab" >Filter</a></li>
		<li><a data-target="#menu2" data-toggle="tab" >Category</a></li>
		<li><a data-target="#menu3" data-toggle="tab" >Analysis</a></li>
	</ul>

	
	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<h3>Search</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</div>
		<div id="menu1" class="tab-pane fade">
			<h3>Filter</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<div class="list-group" data-toggle="items">
				<a data-target="#" class="list-group-item active">Filter 1</a>
				<a data-target="#" class="list-group-item">Filter 2</a>
				<a data-target="#" class="list-group-item active">Filter 3</a>
				<a data-target="#" class="list-group-item">Filter 4</a>
				<a data-target="#" class="list-group-item">Filter 5</a>
			</div>
		</div>
		<div id="menu2" class="tab-pane fade">
			<h3>Category</h3>
			<div class="list-group">
				<a data-target="#" class="list-group-item active">Category 1</a>
				<a data-target="#" class="list-group-item">Category 2</a>
				<a data-target="#" class="list-group-item">Category 3</a>
				<a data-target="#" class="list-group-item">Category 4 </a>
				<a data-target="#" class="list-group-item">Category 5</a>
			</div>
		</div>
		<div id="menu3" class="tab-pane fade">
			<h3>Analysis</h3>
			<p>Analysis stuff</p>
		</div>
	</div>
</div>
-->

<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="map"> 
	<div class="blur-this">

		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<div class="sidebar-tabs">
				<ul role="tablist">
					<li><a href="#home" role="tab"><i class="fa fa-search"></i></a></li>
					<li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
					<li><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
				</ul>

				<ul role="tablist">
					<li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="sidebar-content">
				<div class="sidebar-pane" id="home">
					<h1 class="sidebar-header">Search<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
					<div id="map-file-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" placeholder="Search" ng-model="vm.searchText"/>
                                <span class="input-group-btn">
                                    <button class="btn" type="button" ng-show="vm.searchText" ng-click="vm.searchText=''">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
					<div class="sidebar-search-results-container" ng-repeat="file in vm.fileList | fileSearch: vm.searchText" ng-mouseenter="vm.fileSearchHover('enter', file)" ng-mouseleave="vm.fileSearchHover('leave', file)" ng-click="vm.fileSearchClick(file)">
						<div class="left">
							<i class="{{file.icon}} fa-3x"></i>
						</div>
						<div class="right">
							<span class="search-file-heading"> {{file.name}}</span>
							<span><strong>Uploaded By: </strong> {{file.createdBy}}</span>
							<span class="hidden-sm hidden-md"><strong>Last Modified: </strong> {{file.lastModified | date : "dd MMMM, yyyy h:mm a"}}</span>
							<span class="hidden-xs hidden-lg sm-last-mod" > {{file.lastModified | date : "dd MMMM, yyyy h:mm a"}}</span>
						</div>
					</div>
				</div>

				<div class="sidebar-pane" id="profile">
					<h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
				</div>

				<div class="sidebar-pane" id="messages">
					<h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
				</div>

				<div class="sidebar-pane" id="settings">
					<h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
				</div>
			</div>
		</div>

		<div id="map" class="sidebar-map"></div>
	</div>
</div>

<div ng-if="vm.addingDependent" class="map-dependent-marker-info">
	<div>
		<div class="dependent-msg">Please select the dependent marker</div>
		<a ng-click="vm.cancelDependent()" class="btn btn-danger" role="button">Cancel</a>
	</div>
</div>

<div ng-if="vm.addingDependentInfo" class="map-dependent-marker-info">
	<div>
		<div class="dependent-msg">Please select the dependent marker or press cancel</div>
		<a ng-click="vm.cancelDependent()" class="btn btn-danger" role="button">Cancel</a>
	</div>
</div>

