<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,500"> 
 
<div class="mainLogo" style="text-align:center;">
	<img src="assets/img/Logo.png" height="25%" width="25%" style="min-width:185px;max-width:500px;">
</div>

<div class="login" style="max-width:90%;min-width:300px;width:400px;">

	<p align="center"><span><font size="5">Having trouble signing in?</font></span></p><br />
	
	<form ng-submit="vm.onSubmit()" id="login-form">
		<div id="u" class="form-group-qda">
			<input type="text" class="form-control-qda" id="email" name="username" required="required" ng-model="vm.email"> 
			<span class="form-highlight"></span>
			<span class="form-bar"></span>
			<label for="email" class="float-label">Email</label>
			<erroru>
				Email is required
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			</erroru>
		</div>

	<div class="form-group-qda buttonPlacementFix" style="text-align:center;">
		<button id="submit" type="submit" ng-disabled="vm.reset">Reset password</button>
	</div>
	</form>

</div>

<footer-generic></footer-generic>
