<style>
	html {
		background-color: #4676fa;
	}
</style>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,500">

<div class="mainLogo" style="text-align:center;">
	<img src="assets/img/Logo.png" height="25%" width="25%" style="min-width:185px;max-width:350px;">
</div>

<div class="login" style="max-width:90%;min-width:300px;width:400px;">
	<a href="/forgot-password" style="float:right;color:rgba(0,0,0,0.6);">
		<i class="fa fa-question-circle" style="float:right;" aria-hidden="true"></i>
	</a>
	
	<br /><br />

	<div class="profileImage">
		<img class="img-circle" width="200px" height="200px" src="{{ vm.avatarUrl }}" style="object-fit: cover">
	</div>

	<br /><br class="invisibleClass invisibleClassHeight" />

	<p align="center">
		<span>Sign in with your NativeQDA Account</span>
	</p>
	
	<form ng-submit="vm.onSubmit()" id="login-form">
		<div id="u" class="form-group-qda">
			<input id="email" spellcheck=false class="form-control-qda" name="username" type="text" size="18" alt="login" required="required" ng-model="vm.credentials.email" ng-blur="vm.getAvatar()">
			<span class="form-highlight"></span>
			<span class="form-bar"></span>
			<label for="email" class="float-label">Email</label>
		</div>
		
		<div id="p" class="form-group-qda">
			<input id="password" class="form-control-qda" spellcheck=false name="password" type="password" size="18" alt="login" required="required" ng-model="vm.credentials.password">
			<span class="form-highlight"></span>
			<span class="form-bar"></span>
			<label for="password" class="float-label">Password</label>
		</div>

		<div class="form-group-qda buttonPlacementFix">
			<a href="/forgot-password" style="color:rgba(0,0,0,0.6);">Forgot your Password?</a>
			<button id="submit" type="submit">Sign in</button>
		</div>
	</form>

	<div class="complete-survey-btn">
		<a href="/complete-survey">COMPLETE A SURVEY</a>
	</div>
</div>