<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="row">
		<div class="col-md-12">
			<p>This page is for creating, viewing, modifying, and deleting surveys.</p>
		</div>
	</div>

	<button type="button" class="btn btn-md btn-success" ng-click="vm.popupNewSurveyForm()">New Survey</button>

	<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
		<tr ng-repeat="row in $data">
			<td data-title="'Survey'" filter="{survey: 'text'}" sortable="'survey'">{{row.survey}}</td>
			<td data-title="'Created By'" filter="{createdBy: 'text'}" sortable="'createdBy'">{{row.createdBy}}</td>
			<td data-title="'Responses'" filter="{responses: 'number'}" sortable="'responses'">{{row.responses}}</td>
			<td data-title="'Date Created'" filter="{dateCreated: 'text'}" sortable="'dateCreated'">{{row.dateCreated}}</td>
			<td data-title="'Command'"><a href="/survey/view/{{row.command}}" class="btn btn-success btn-xs" role="button">View</a> <a href="/survey/edit/{{row.command}}" class="btn btn-primary btn-xs" role="button">Edit</a> <a href="/survey/delete/{{row.command}}" ng-click="confirmDelete()" class="btn btn-danger btn-xs" role="button">Delete</a></td class="data-command-cell">
		</tr>

	</table>

	<footer-generic></footer-generic>

</div>