<div class="modal-content bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="data-list"> 
	<div class="blur-this">
		<form id="register-new-user" name="register-new-user" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">

			<div class="modal-header">
				<button type="button" ng-click="vm.modal.cancel()" ng-disabled="vm.isProcessing" class="close">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 id="register-new-user-modal-label" class="modal-title">New User</h4>
			</div>

			<div class="modal-body">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" required="required" placeholder="Email" ng-model="vm.credentials.email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" required="required" placeholder="Password" ng-model="vm.credentials.password">
				</div>
				<div class="form-group">
					<label for="first-name">First Name</label>
					<input type="text" class="form-control" id="first-name" required="required" placeholder="First Name" ng-model="vm.credentials.firstName">
				</div>
				<div class="form-group">
					<label for="last-name">Last Name</label>
					<input type="text" class="form-control" id="last-name" required="required" placeholder="Last Name" ng-model="vm.credentials.lastName">
				</div>
				<div class="form-group">
					<label for="company">Company</label>
					<input type="text" class="form-control" id="company" required="required" placeholder="Company" ng-model="vm.credentials.company">
				</div>
			</div>

			<div class="modal-footer">
				<button ng-click="vm.modal.cancel()" ng-disabled="vm.isProcessing" type="button" class="btn btndefault">Cancel</button>
				<button type="submit" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.registerButtonOptions">Register</button>
			</div>

		</form>
	</div>
</div>