
<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>
	
	<!--User Management-->
	<div class="row">
		<div class="col-md-12">
			<p>This page is for creating, viewing, modifying, and deleting users.</p>
		</div>
	</div>

	<button data-step="1" data-intro="Click here to create a new user!" type="button" class="btn btn-md btn-success" style="float:left;" ng-click="">New User</button>
	<a class="btn btn-large btn-success" style="float:right;" href="javascript:void(0);" onclick="javascript:introJs().start();">Help Me!</a>

	<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px;">
		<tr ng-repeat="row in $data">
			<td data-title="'First Name'" filter="{firstName: 'text'}" sortable="'firstName'">{{row.firstName}}</td>
			<td data-title="'Last Name'" filter="{lastName: 'text'}" sortable="'lastName'">{{row.lastName}}</td>
			<td data-title="'Email'" filter="{email: 'number'}" sortable="'email'">{{row.email}}</td>
			<td data-title="'Role'" filter="{role: 'number'}" sortable="'role'">
				<span ng-if="row.role=='Researcher'" class="label label-success">{{row.role}}</span>
				<span ng-if="row.role=='Bubble Admin'" class="label label-primary">{{row.role}}</span>
			</td>
			<td data-title="'Action'">
				<a data-step="2" data-intro="Click here to view this user!" href="/survey/view/{{row.command}}" class="btn btn-success btn-xs" role="button">View</a>
				<a data-step="3" data-intro="Click here to edit this user!" href="/survey/edit/{{row.command}}" class="btn btn-primary btn-xs" role="button">Edit</a>
				<a data-step="4" data-intro="Click here to delete this user!" href="/survey/delete/{{row.command}}" ng-click="confirmDelete()" class="btn btn-danger btn-xs" role="button">Delete</a>
			</td class="data-command-cell">
		</tr>

	</table>

	<footer-generic></footer-generic>

</div>