<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>
	
	<!--User Management-->
	<div class="col-md-12">
	
	<p>This page is for creating, viewing, modifying, and deleting users.</p>

	<button data-step="1" data-intro="Click here to create a new user!" type="button" class="btn btn-md btn-success" ng-click="vm.popupNewUser()">New User</button>
	<a style="float:right;" href="javascript:void(0);" onclick="javascript:introJs().start();"><i class="fa fa-question-circle" aria-hidden="true"></i></a>

	<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="analysis-list"> 
		<div class="blur-this">
		<table ng-table="vm.tableParams" class="table table-condensed table-striped users-browser-table" style="margin-top:5px">
			<tr class="table-row" ng-repeat="row in $data">
				<td data-title="'Avatar'" class="avatar-cell">
					<div class="img-circle med-avatar-container" style="background-image: url('{{ row.avatar }}');">
						<img src="{{ row.avatar }}" class="med-avatar"/>
					</div>
				</td>
				<td data-title="'First Name'" filter="{firstName: 'text'}" sortable="'firstName'" class="first-name-cell">{{row.firstName}}</td>
				<td data-title="'Last Name'" filter="{lastName: 'text'}" sortable="'lastName'" class="last-name-cell hidden-xs">{{row.lastName}}</td>
				<td data-title="'Email'" filter="{email: 'text'}" sortable="'email'" class="email-cell">{{row.email}}</td>
				<td data-title="'Role'" filter="{role: 'text'}" sortable="'role'" class="role-cell hidden-xs">
					<span ng-if="row.role=='Researcher'" class="label label-success">{{row.role}}</span>
					<span ng-if="row.role=='Bubble Admin'" class="label label-primary">{{row.role}}</span>
				</td>
				<td data-step="2" data-intro="Click here to view/edit/delete this user!" data-title="'Action'" class="context-menu-cell">
					<div class="dropdown">
								<span class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="view-cell"><a>View</a></li>
									<li ng-click="vm.popupEditUser(row)" class="edit-cell"><a>Edit</a></li>
									<li ng-click="vm.confirmDelete(row)" class="delete-cell"><a>Delete</a></li>
								</ul>
							</div>
				</td>
			</tr>

		</table>
		</div>
	</div>
	</div>
</div>
	<footer-generic></footer-generic>

