<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>

	<div class="row">
		<div class="col-md-12">
			<p>Enter a URL for analysis.</p>
		</div>
	</div>

	<form id="test" name="test" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
		
		<div class="form-group">
			<label for="analysis" class="col-sm-2 control-label">URL for Analysis</label>
			<div class="col-sm-10">
				<textarea id="url" name="watson-analysis" required="required" ng-model="vm.analysisURL" rows="2" class="form-control"></textarea>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Analyse</button>
	</form>

	<br />

	<p>JSON Response:</p>
	<div>
		<pre>{{vm.responseData | json}}</pre>
	</div>	

	<footer-generic></footer-generic>

</div>