<style>
#viMenu {
	padding: 75px 25px 25px 25px;
	overflow: hidden;
	background: #eee;
}
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #FFF; /* A background-color is required */
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow-x: hidden;
	overflow-y: auto;
}

.slideout-open .slideout-menu {
	display: block;
}

.pageItem {
	position:relative;
}

.ng-hide {
	opacity: 0;
}

.ng-hide-add { 
	position: absolute;
	transition: all linear 300ms;
}

.ng-hide-remove { 
	position: absolute;
	transition: all linear 300ms;
}

@media screen and (max-width: 480px) {	
	.menuButtonFix {
		top:-48px;
	}
}

</style>

<navigation></navigation>

<div class="hidden-xs hidden-sm" style="height:40px;background-color:#4676fa;position: relative;"><div style="background-color:#fff;height:3px;"></div>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="vis-navbar">
			<ul class="nav navbar-nav tabbar" style="position: absolute;left: 40.5%;transform: translatex(-40.5%);">
				<li><a ng-click="vm.togglePage('details')" role="button">Details</a></li>
				<li><a ng-click="vm.togglePage('categories')" role="button">Categories</a></li>
				<li><a ng-click="vm.togglePage('concepts')" role="button">Concepts</a></li>
				<li><a ng-click="vm.togglePage('entities')" role="button">Entities</a></li>
				<li><a ng-click="vm.togglePage('keywords')" role="button">Keywords</a></li>
				<li><a ng-click="vm.togglePage('relations')" role="button">Relations</a></li>
				<li><a ng-click="vm.togglePage('semanticRoles')" role="button">Semantics</a></li>
			</ul>
		</div>
	</div>
</nav>
</div>

<nav id="viMenu" class="hidden-md hidden-lg">
	<header>
		<h3 style="text-align:center;">Analysis Types</h3>

		<div ng-click="vm.togglePage('details')" width="100%" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;border-radius: 12px 12px 0 0;" role="button"><div style="position:relative;top:10px;">Details</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('categories')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Categories</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('concepts')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Concepts</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('entities')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Entities</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('keywords')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Keywords</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('relations')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Relations</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('semanticRoles')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;border-radius: 0 0 12px 12px;" width="100%" role="button"><div style="position:relative;top:10px;">Semantics</div></div>
	</header>
</nav>

<div id="viPanel">

	<div class="hidden-md hidden-lg" style="padding-bottom:2px;"></div>
	
	<div class="hidden-md hidden-lg" ng-click="vm.toggleOptions()" style="height:48px;width:14px;background-color:#4676fa;border-radius:0 5px 5px 0;"><div style="margin-top:5px;"></div><i style="color:#fff;position:relative;top:14px;left:-1px;" class="fa fa-arrow-right" aria-hidden="true"></i></div>

	<div class="container menuButtonFix" style="position:relative;">

		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="visuals-info"> 
			<div class="blur-this">
				<div class="row">
					<div class="col-md-12">
						<div ng-show="vm.details" class="pageItem">
							<h3 class="hidden-xs hidden-sm">Analysis Details</h3><h3 class="hidden-md hidden-lg" style="text-align:center;">Analysis Details</h3>
							<br/>
							<label>Analysis: </label> {{vm.analysisData.name}}
							<br/>
							<label>Description: </label> {{vm.analysisData.description}}
							<br/>
							<label>Date Created: </label> {{vm.analysisData.dateCreated | date : "dd MMMM, yyyy h:mm:ss a"}}
							<br/>
							<label>Uploaded By: </label> {{vm.analysisData.createdBy}}
							<br/>
							<br/>
							<h4>Analysis Results</h4>
							<label>Categories: </label> {{vm.analysisData.categories.length}}
							<br/>
							<label>Concepts: </label> {{vm.analysisData.concepts.length}}
							<br/>
							<label>Entities: </label> {{vm.analysisData.entities.length}}
							<br/>
							<label>Keywords: </label> {{vm.analysisData.keywords.length}}
							<br/>
							<label>Relations: </label> {{vm.analysisData.relations.length}}
							<br/>
							<label>Semantics: </label> {{vm.analysisData.semanticRoles.length}}
							<br/>
							<br/>
							<h4 ng-if="vm.analysisData.files.length > 1" >Files Analysed</h4>
							<h4 ng-if="vm.analysisData.files.length == 1" >File Analysed</h4>

							<table ng-table="vm.tableParams" class="table table-bordered table-striped vis-files-browser-table">
								<tr class="table-row" ng-repeat="row in $data">
									<td data-title="'Name'" class="name-cell" ng-click="vm.viewFile(row, 'false')">
										<span>
											<i class="{{row.icon}} fa-lg" title="{{row.type | capitalise}}"></i> {{row.name}}
										</span>
										<span ng-if="row.type == 'deleted'" class="file-deleted-msg" title="This file has been deleted from the system"> - Deleted</span>
									</td>
									<td data-title="'Created By'" class="created-by-cell hidden-xs" header-class="'hidden-xs'" ng-click="vm.viewFile(row, 'false')">{{row.createdBy}}</td>
									<td data-title="'Last Modified'" class="last-modified-cell hidden-xs hidden-sm" header-class="'hidden-xs hidden-sm'" ng-click="vm.viewFile(row, 'false')">{{row.lastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
									<td data-title="''" class="context-menu-cell">
										<div ng-if="row.type != 'folder' && row.type != 'parent-dir' && row.type != 'deleted'" class="dropdown">
											<span class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
											<ul class="dropdown-menu dropdown-menu-right">
												<li class="view-btn" ng-click="vm.viewFile(row, 'false')"><a href="#">View File</a></li>
												<li class="view-raw-btn" ng-click="vm.viewFile(row, 'true')"><a href="#">View Raw Text</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</table>

						</div>
						<div ng-show="vm.categories" class="pageItem">
							<h3>Categories</h3>
							<p>Categorise your content into a 5-level taxonomy. The top three categories will be returned.</p>
							<p>View the complete list of categories <a href="https://www.ibm.com/watson/developercloud/doc/natural-language-understanding/categories.html" target="_blank">here</a>.</p>
							<p>Supported languages: English</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/categories/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/categories/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/categories/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/categories/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

						</div>
						<div ng-show="vm.concepts" class="pageItem">
							<h3>Concepts</h3>
							<p>Recognise high-level concepts that are related to your text. For example, analysis of a research paper about deep learning would likely return the concept "Artificial Intelligence", even if that term is not explicitly mentioned in the paper.</p>
							<p>Supported languages: English, Spanish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bubble-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bubble-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bubble-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Bubble Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/concepts/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/donut-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/donut-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/donut-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Donut Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/pie-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/pie-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/pie-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Pie Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bar-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bar-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Bar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/concepts/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

						</div>
						<div ng-show="vm.entities" class="pageItem">
							<h3>Entities</h3>
							<p>Identify people, cities, organisations, and many other types of entities in your text.</p>
							<p>View the complete list of entity types and subtypes <a href="https://www.ibm.com/watson/developercloud/doc/natural-language-understanding/entity-types.html" target="_blank">here</a>.</p>
							<p>Supported languages: English, French, German, Italian, Portuguese, Russian, Spanish, Swedish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bubble-chart/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bubble-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bubble-chart/entities/{{vm.analysisId}}">
												<span>
													<strong>Bubble Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/entities/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/radar-chart/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/radar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/radar-chart/entities/{{vm.analysisId}}">
												<span>
													<strong>Radar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bar-chart/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bar-chart/entities/{{vm.analysisId}}">
												<span>
													<strong>Bar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/entities/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

						</div>
						<div ng-show="vm.keywords" class="pageItem">
							<h3>Keywords</h3>
							<p>Identify the important keywords in your content.</p>
							<p>Supported languages: English, French, German, Italian, Portuguese, Russian, Spanish, Swedish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bubble-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bubble-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bubble-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Bubble Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/keywords/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/radar-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/radar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/radar-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Radar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/donut-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/donut-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/donut-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Donut Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							<!--
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/treemap-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/treemap-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/treemap-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Treemap Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							-->
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/pie-chart/keywords/{{vm.analysisId}}">
											<img src="assets/img/visualisations/pie-chart-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/pie-chart/keywords/{{vm.analysisId}}">
											<span>
												<strong>Pie Chart</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/bar-chart/keywords/{{vm.analysisId}}">
											<img src="assets/img/visualisations/bar-chart-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/bar-chart/keywords/{{vm.analysisId}}">
											<span>
												<strong>Bar Chart</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/data-table/keywords/{{vm.analysisId}}">
											<img src="assets/img/visualisations/data-table-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/data-table/keywords/{{vm.analysisId}}">
											<span>
												<strong>Data Table</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<div ng-show="vm.relations" class="pageItem">
						<h3>Relations</h3>
						<p>Recognise when two entities are related, and identify the type of relation. For example, an "awardedTo" relation might connect the entities "Nobel Prize" and "Albert Einstein".</p>
						<p>Supported languages: Arabic, English, Spanish</p>

						<ul class="vis-thumb-list">
						
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/network-chart/relations/{{vm.analysisId}}">
											<img src="assets/img/visualisations/network-chart-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/network-chart/relations/{{vm.analysisId}}">
											<span>
												<strong>Network Chart</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
						
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/data-table/relations/{{vm.analysisId}}">
											<img src="assets/img/visualisations/data-table-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/data-table/relations/{{vm.analysisId}}">
											<span>
												<strong>Data Table</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<div ng-show="vm.semanticRoles" class="pageItem">
						<h3>Semantic Roles</h3>
						<p>Parse sentences into subject, action, and object form.</p>
						<p>Supported languages: English, Spanish</p>

						<ul class="vis-thumb-list">
							<li class="vis-thumb-list-item">
								<div class="vis-thumb-outer-div">
									<div class="vis-thumb-inner-div">
										<a href="/data-table/semantic-roles/{{vm.analysisId}}">
											<img src="assets/img/visualisations/data-table-thumb.png"/>
										</a>
										<a class="vis-thumb-img-overlay" href="/data-table/semantic-roles/{{vm.analysisId}}">
											<span>
												<strong>Data Table</strong>
											</span>
										</a>
									</div>
								</div>
							</li>
						</ul>

						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer-generic></footer-generic>

