<style>
	#viMenu {
		padding: 75px 25px 25px 25px;
		overflow: hidden;
		background: #eee;
	}
	.slideout-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 256px;
		min-height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 0;
		display: none;
	}

	.slideout-menu-left {
		left: 0;
	}

	.slideout-menu-right {
		right: 0;
	}

	.slideout-panel {
		position: relative;
		z-index: 1;
		will-change: transform;
		background-color: #FFF; /* A background-color is required */
		min-height: 100vh;
	}

	.slideout-open,
	.slideout-open body,
	.slideout-open .slideout-panel {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.slideout-open .slideout-menu {
		display: block;
	}
	
	.pageItem {
		position:relative;
	}

	.ng-hide {
		opacity: 0;
	}

	.ng-hide-add { 
		position: absolute;
		transition: all linear 300ms;
	}

	.ng-hide-remove { 
		position: absolute;
		transition: all linear 300ms;
	}
</style>

<navigation></navigation>
<div style="height:40px;background-color:#4676fa;position: relative;"><div style="background-color:#fff;height:3px;"></div>
<ul class="nav navbar-nav tabbar" style="position: absolute;left: 42%;transform: translatex(-42%);">
  <li><a ng-click="vm.togglePage('details')" role="button">Details</a></li>
  <li><a ng-click="vm.togglePage('categories')" role="button">Categories</a></li>
  <li><a ng-click="vm.togglePage('concepts')" role="button">Concepts</a></li>
  <li><a ng-click="vm.togglePage('entites')" role="button">Entities</a></li>
  <li><a ng-click="vm.togglePage('keywords')" role="button">Keywords</a></li>
  <li><a ng-click="vm.togglePage('relations')" role="button">Relations</a></li>
  <li><a ng-click="vm.togglePage('semanticRoles')" role="button">Semantic Roles</a></li>
</ul> 
</div>

<nav id="viMenu">
	<header>
		<h4>Visualisation Types</h4>
		<hr style="border-top: 3px dashed #4676fa;">

		<a ng-click="vm.togglePage('details')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Details</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('categories')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Categories</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('concepts')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Concepts</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('entites')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Entities</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('keywords')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Keywords</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('relations')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Relations</a>
		<br />
		<br />
		<a ng-click="vm.togglePage('semanticRoles')" class="btn" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Semantic Roles</a>		
	</header>
</nav>

<div id="viPanel">
	
	<div class="container" style="position:relative;">

		<page-header content="vm.pageHeader"></page-header>

		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="visuals-info"> 
			<div class="blur-this">
				<div class="row">
					<div class="col-md-12">
						<div ng-show="vm.details" class="pageItem">
							<h3>Analysis Details</h3>

							<label>Name: </label> {{vm.analysisData.name}}
							<br/>
							<label>Language: </label> {{vm.analysisData.language}}
							<br/>
							<label>Date Created: </label> {{vm.analysisData.dateCreated | date : "dd MMMM, yyyy h:mm:ss a"}}
							<br/>
							<label>Last Modified: </label> {{vm.analysisData.lastModified | date : "dd MMMM, yyyy h:mm:ss a"}}
							<br/>
							<label>Uploaded By: </label> {{vm.analysisData.createdBy}}
							<br/>
							<label>Database ID: </label> {{vm.analysisData._id}}
							<br/>
							<label>S3 Key: </label> {{vm.analysisData.sourceDataKey}}
							<br/>
							<a ng-click="vm.viewFile(vm.analysisData.sourceDataKey)" class="btn btn-primary btn-sm" style="background-color:#4676fa;border-color:#4676fa;color:#fff;font-weight:500;" role="button">Raw Text</a>

							<br/>
							<br/>
						</div>
						<div ng-show="vm.assistance" class="pageItem">
							<h3>Use the side menu on the left to see available visualisations for {{vm.analysisData.name}}</h3>

							<br/>
						</div>
						<div ng-show="vm.categories" class="pageItem">
							<h4>Categories</h4>
							<p>Categorise your content into a 5-level taxonomy. The top three categories will be returned.</p>
							<p>View the complete list of categories <a href="https://www.ibm.com/watson/developercloud/doc/natural-language-understanding/categories.html" target="_blank">here</a>.</p>
							<p>Supported languages: English</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/categories/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/categories/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/categories/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/categories/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

							<br/>
						</div>
						<div ng-show="vm.concepts" class="pageItem">
							<h4>Concepts</h4>
							<p>Recognise high-level concepts that are related to your text. For example, analysis of a research paper about deep learning would likely return the concept "Artificial Intelligence", even if that term is not explicitly mentioned in the paper.</p>
							<p>Supported languages: English, Spanish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bubble-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bubble-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bubble-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Bubble Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/concepts/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bar-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bar-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Bar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/pie-chart/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/pie-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/pie-chart/concepts/{{vm.analysisId}}">
												<span>
													<strong>Pie Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/concepts/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/concepts/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

							<br/>
						</div>
						<div ng-show="vm.entities" class="pageItem">
							<h4>Entities</h4>
							<p>Identify people, cities, organisations, and many other types of entities in your text.</p>
							<p>View the complete list of entity types and subtypes</p>
							<a href="https://www.ibm.com/watson/developercloud/doc/natural-language-understanding/entity-types.html" target="_blank">here</a>.</p>
							<p>Supported languages: English, French, German, Italian, Portuguese, Russian, Spanish, Swedish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/radar-chart/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/radar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/radar-chart/entities/{{vm.analysisId}}">
												<span>
													<strong>Radar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/entities/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bar-chart/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bar-chart/entities/{{vm.analysisId}}">
												<span>
													<strong>Bar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/entities/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/entities/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

							<br/>
						</div>
						<div ng-show="vm.keywords" class="pageItem">
							<h4>Keywords</h4>
							<p>Identify the important keywords in your content.</p>
							<p>Supported languages: English, French, German, Italian, Portuguese, Russian, Spanish, Swedish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bubble-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bubble-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bubble-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Bubble Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/radar-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/radar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/radar-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Radar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/treemap-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/treemap-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/treemap-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Treemap Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/keywords/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/bar-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/bar-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/bar-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Bar Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/pie-chart/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/pie-chart-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/pie-chart/keywords/{{vm.analysisId}}">
												<span>
													<strong>Pie Chart</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/word-cloud/keywords/{{vm.analysisId}}">
												<img src="assets/img/visualisations/word-cloud-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/word-cloud/keywords/{{vm.analysisId}}">
												<span>
													<strong>Word Cloud</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>


							<br />
						</div>
						<div ng-show="vm.relations" class="pageItem">
							<h4>Relations</h4>
							<p>Recognise when two entities are related, and identify the type of relation. For example, an "awardedTo" relation might connect the entities "Nobel Prize" and "Albert Einstein".</p>
							<p>Supported languages: Arabic, English, Spanish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/relations/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/relations/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

							<br />
						</div>
						<div ng-show="vm.semanticRoles" class="pageItem">
							<h4>Semantic Roles</h4>
							<p>Parse sentences into subject, action, and object form.</p>
							<p>Supported languages: English, Spanish</p>

							<ul class="vis-thumb-list">
								<li class="vis-thumb-list-item">
									<div class="vis-thumb-outer-div">
										<div class="vis-thumb-inner-div">
											<a href="/data-table/semantic-roles/{{vm.analysisId}}">
												<img src="assets/img/visualisations/data-table-thumb.png"/>
											</a>
											<a class="vis-thumb-img-overlay" href="/data-table/semantic-roles/{{vm.analysisId}}">
												<span>
													<strong>Data Table</strong>
												</span>
											</a>
										</div>
									</div>
								</li>
							</ul>

							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer-generic></footer-generic>

