<navigation></navigation>

<div id="map-controls" class="col-xs-3 col-sm-3">
	<div style="padding:10px;">
		<label>Both parents born overseas:
			<input type="checkbox" ng-model="vm.bothOver" ng-change="vm.updateMap()">
		</label><br/>
		<label>Father born overseas:
			<input type="checkbox" ng-model="vm.fatherOver" ng-change="vm.updateMap()">
		</label><br/>
		<label>Mother born overseas:
			<input type="checkbox" ng-model="vm.MotherOver" ng-change="vm.updateMap()">
		</label><br/>
		<label>Both parents born Australia:
			<input type="checkbox" ng-model="vm.bothAus" ng-change="vm.updateMap()">
		</label><br/>
		<label>Change gradient:
			<input type="checkbox" ng-model="vm.changeGrad" ng-change="vm.changeGradient()">
		</label>
		<br/>
		<label>Radius</label>
		<div id='radius-slider' style="width: 95%; margin: 0 auto;"></div>
		<br/>
		<label>Opacity</label>
		<div id='opacity-slider' style="width: 95%; margin: 0 auto;"></div>
		<br/>
		<label>Remove greater Sydney data:
			<input type="checkbox" ng-model="vm.rmGrtSyd" ng-change="vm.removeGrtSyd()">
		</label>
	</div>
</div>

<div id="map-warning" ng-show="vm.message" class="alert alert-warning alert-dismissable fade in">
	<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Warning! </strong>{{ vm.message }}
</div>

<div id="map"></div>




