<div class="modal-content bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-details"> 
	<div class="blur-this">

		<div class="modal-header">
			<button type="button" ng-click="vm.modal.cancel()" ng-disabled="vm.isProcessing" class="close">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<h4 id="analysis-modal-label" class="modal-title">{{vm.file.name}}</h4>
		</div>

		<div class="modal-body">
			<label>File Name: </label> {{vm.file.path}} <input type="textbox" value={{vm.file.name}}></input>
			<br/>
			<label>File Type: </label> {{vm.file.type}}
			<br/>
			<label>Uploaded By: </label> {{vm.file.createdBy}}
			<br/>
			<label>Created: </label> {{vm.file.dateCreated | date : "dd MMMM, yyyy h:mm:ss a"}}
			<br/>
			<label>Last Modified: </label> {{vm.file.lastModified | date : "dd MMMM, yyyy h:mm:ss a"}}
			<br/>
			<label>Size: </label> {{vm.file.size | formatFileSize:2}}
			<br/>
			<span ng-hide="vm.file.tags.length == 0">
				<label>Tags: </label> {{vm.tags}}
				<br/>
			</span>

			<a ng-click="vm.editFile()" class="btn btn-primary blueButton" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.edit">Edit</a>
			
			<a ng-if="vm.file.acl=='private'" ng-click="vm.updateAclS3('public-read')" class="btn btn-primary blueButton" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.makePublicOptions">Make Public</a>

			<a ng-if="vm.file.acl=='public-read'" ng-click="vm.updateAclS3('private')" class="btn btn-primary" role="button" jp-ng-bs-animated-button is-submitting="vm.isSubmittingButton" result="vm.resultButton" options="vm.makePrivateOptions">Make Private</a>

			<a ng-click="vm.confirmDelete()" class="btn btn-danger" role="button">Delete</a>

			<span ng-if="vm.file.acl=='public-read'">
				<br/>
				<br/>
				<label>Public URL: </label> <a href="{{vm.file.url}}" target=_"blank">{{vm.file.url}}</a>
			</span>
		</div>

	</div>
</div>
