<style>
	#kbMenu {
		padding: 75px 25px 25px 25px;
		overflow: hidden;
		background: #eee;
	}
	.slideout-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 256px;
		min-height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 0;
		display: none;
	}
	.slideout-menu-left {
		left: 0;
	}
	.slideout-menu-right {
		right: 0;
	}
	.slideout-panel {
		position: relative;
		z-index: 1;
		will-change: transform;
		background-color: #FFF; /* A background-color is required */
		min-height: 100vh;
	}
	.slideout-open,
	.slideout-open body,
	.slideout-open .slideout-panel {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.slideout-open .slideout-menu {
		display: block;
	}
	.pageItem {
		position:relative;
	}
	.ng-hide {
		opacity: 0;
	}
	.ng-hide-add { 
		position: absolute;
		transition: all linear 300ms;
	}
	.ng-hide-remove { 
		position: absolute;
		transition: all linear 300ms;
	}

</style>

<navigation></navigation>

<nav id="kbMenu">
	<header>
		<h3 style="text-align:center;">Menu</h3>

		<div ng-click="vm.togglePage('knowledgebase')" width="100%" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;border-radius: 12px 12px 0 0;" role="button"><div style="position:relative;top:10px;">Knowledgebase</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('terminology')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Terminology</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('uploading')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Uploading Files</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('analysis')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Creating an Analysis</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('visualisations')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;" width="100%" role="button"><div style="position:relative;top:10px;">Viewing Visualisations</div></div>
		<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('map')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;border-radius: 0 0 12px 12px;" width="100%" role="button"><div style="position:relative;top:10px;">The Map</div></div>
		<!--<div style="padding-bottom:2px;"></div>
		<div ng-click="vm.togglePage('system')" style="height:40px;background-color:#4676fa;color:#fff;text-align:center;border-radius: 0 0 12px 12px;" width="100%" role="button"><div style="position:relative;top:10px;">General System Functions</div></div>-->
	</header>
</nav>

	<div id="kbPanel">

	  <div ng-click="vm.toggleOptions()" style="cursor:pointer;height:48px;width:30px;background-color:#4676fa;border-radius:0 5px 5px 0;"><div style="margin-top:5px;"></div>
	  <i style="color:#fff;position:relative;top:13px;left:8px;width:30px" class="fa fa-arrow-right" aria-hidden="true"></i>
	  </div>
	  
	  <div class="container menuButtonFix" style="position:relative;">
	  
	  <div class="hidden-md hidden-lg" style="margin-top:48px;"></div>
	  
	  <page-header content="vm.pageHeader"></page-header>
	
		<div ng-show="vm.knowledgebase" class="pageItem">
			<h3>The Knowledgebase</h3>
			<p>Using the &nbsp;&nbsp;&nbsp;<img src="assets/img/knowledgebase/slideout-btn.PNG" style="vertical-align:middle;">&nbsp;&nbsp;&nbsp; button on the left, you can navigate through the conent in the knowledgebase.</p>
			<p>The Knowledgebase is a basic overview regarding how things work, where to find things and why things are the way they are.</p>
		
		</div>
		<div ng-show="vm.terminology" class="pageItem">
			<h3>Terminology</h3>
			<h4>"File"</h4>
			<p>A file within the NativeQDA system is conistant with what you would normally conisder a file in other system. These are individual</p>
			<p>files which you upload through the file upload page and can be in a variety of types such as pdf, docx, txt, mp3 ,jpg  e.t.c. These</p>
			<p>files are used to create datasets and are displayed on the map.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/example-file.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Example of a file</figcaption></figure></p>
			<h4>"Analysis"</h4>
			<p>An analysis is conducted on datasets to generate visualisations and can be created in the Analysis page. An analysis is this process</p>
			<p>of extracting relationships between word frequency, entites, concepts, themes e.t.c. After an analysis has been created from a datsets</p>
			<p>all the available visualisations which are combatable with that dataset will automatically be avaialable int eh visualisations page for viewing</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/example-analysis.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Example of an analysis</figcaption></figure></p>
			<h4>"Visualisation"</h4>
			<p>A visualisation occurs as a result of an analysis and comes in forms of any charts, graphs, diagrams or visual representation of the information</p>
			<p> which was extracted and created during the analysis process. These visualisations can be saved for use in other research.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/example-vis.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Example of a visualisation</figcaption></figure></p>
		</div>
		<div ng-show="vm.uploading" class="pageItem">
			<h3 id="U">Uploading Files</h3>
			<p>Files can be added to the system by clicking the files option in the top navigation bar. Once on the files page users will be presented</p>
			<p>with a table displaying all files which are currently on the system, just above this table on the right hand side there are two buttons</p>
			<p>"Upload File" and "New Folder".</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/upload-file-btns.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">The 'Upload File' and 'New Folder' buttons</figcaption></figure></p>
			<p>Clicking on the upload file option will open up a file browser which enables files to be dragged or selected.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/upload-file-modal.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">The File Upload Modal</figcaption></figure></p>
			<p>The New Folder option will create a folder within the table on the files page which works as a normal folder on a computer, files can be saved</p>
			<p>within these folders and can even contain subfolders. These folders can be navigated by clicking the folder itself or using the directory</p>
			<p>located on the top left of the files table.</p>
		</div>
		<div ng-show="vm.analysis" class="pageItem">
			<h3 id="A">Creating an Analysis</h3>
			<p>A new analysis can be created by clicking on the Analysis option in the top navigation bar. Initially this page appears similar to the files</p>
			<p>page, a table is shown which contains all previous analysis' which have been performed. A "New Analysis" button is located on the top right</p>
			<p>side of this table.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/new-analysis-btn.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">The New Analysis button</figcaption></figure></p>
			<p>This opens a popup window where a name and description can be given to a new analysis. Also within this popup is a table</p>
			<p>containing all files uploaded to the system. Clicking on the checkbox next to the file name will include this file in the new analysis. Depending</p>
			<p>on the types of files selected some forms of analysis may not be avaiable, however all forms of analysis which are possible with the selected</p>
			<p>files will be generated upon clicking the analyze button in the popup window.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/analysis-file-ex.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Choosing which files to include in an Analysis</figcaption></figure></p>
		</div>
		<div ng-show="vm.visualisations" class="pageItem">
			<h3 id="V">Viewing Visualisations</h3>
			<p>Visualisations can be found in the same place as an analysis as seen in "Creating an Analysis", by clicking on the Analysis option in the top</p>
			<p>navigation bar. Within this analysis page every analysis which has been created is presented within a table, the column of this table on the far right</p>
			<p>side is titled "Action". This column enables an analysis to be viewed by clicking the "view" option, opening the visualisation page for that</p>
			<p>analysis.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/view-vis.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Choosing which analysis to visualise</figcaption></figure></p>
			<p>Within this visualisation page there is a navigation bar on the rop of the page which displays the various categories of</p>
			<p>visualisations which can be selected. Selecting a category such as "Concepts" will present all visualisations relevant to concepts to appear on</p>
			<p>the page. By hovering the mouse over these visualisations a descriptive title will appear and clicking on the visualisation will open it for viewing.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/analysis-nav.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Selecting a visualisation category</figcaption></figure></p>
		</div>
		<div ng-show="vm.map" class="pageItem">
			<h3 id="M">The Map</h3>
			<p>Selecting the Map option in the top navigation bar will display the map page which is a large geographical map like Google Maps with a few differences.</p>
			<br />
			<p>All files within the system will appear on this map where they have been geo-tagged. Depending on the file type a different icon will represent the</p>
			<p>file. Clicking on the file icon on the map will display a small window with options and a description. These options enable the file to be viewed, edited,</p>
			<p>deleted and a "Dependencies" option.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/map-geotagged.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">Looking at geo-tagged files on the map</figcaption></figure></p>
			<p>The "Dependencies" option when clicked on allows for another file to be selected which will create a line between </p>
			<p>the two. These lines simply represent a connection between the files, they are not used for analysis or any other part of the system except the map.</p>
			<p>If multiple files are uploaded which cover a similar topic or contain data from similar areas you may like to create dependencies to represent</p>
			<p>that these files relate to each other. A filter called "Show Dependencies" exists which when clicked</p>
			<p>displays all connections between files.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/map-dependency.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">File Dependencies on the map</figcaption></figure></p>
			<p>Your user icon will also be displyed on a pin which is set on your current location and an options menu bar is located on the left of the page. Clicking</p>
			<p>on this bar will cause it to expand displaying settings, filters and a search option.</p>
			<p class="hidden-xs hidden-sm"><figure class="hidden-xs hidden-sm" style="display:inline-block;margin:20px;"><img src="assets/img/knowledgebase/map-user-pin.PNG" style="border:3px solid #4676fa;border-radius:2px;vertical-align:top;"><br /><figcaption style="text-align:center;font:small-caption;">The logged-in users current location as a pin</figcaption></figure></p>
		</div>
		<div ng-show="vm.system" class="pageItem">
			<h3 id="G">General System Functions</h2>
		</div>
	 </div>
</div>