
<navigation></navigation>

<div class="container">

	<page-header content="vm.pageHeader"></page-header>
	
	<div class="col-md-12" style="min-height:50px;margin:5px;">
	<div class="col-md-12" style="min-height:50px;padding-top:5px;padding-bottom:5px;text-align:center;">
		<a href="/heatmap-example" class="btn btn-primary btn-lg" role="button">Heatmap Example</a>
		<a href="/test-analysis/aylien" class="btn btn-primary btn-lg" role="button">AYLIEN Analysis</a>
		<a href="/test-analysis/watson" class="btn btn-primary btn-lg" role="button">Watson Analysis</a>
		<a href="/bubble-chart/concepts/5960cfe6b27e412628b02bb2" class="btn btn-primary btn-lg" role="button">Watson Concept Analysis + Bubble Chart</a>
	</div>
	</div>

	<div class="col-md-12" style="min-height:320px;margin:5px;">
		<div class="col-md-9" style="min-height:320px;">
		<h6>Some sort of all-encompassing graph of the system</h6>

		<div class="charts">
			<div class="charts__chart chart--p50"></div>
			<div class="charts__chart chart--p60"></div>
			<div class="charts__chart chart--p70"></div>
			<div class="charts__chart chart--p80"></div>
			<div class="charts__chart chart--p90"></div>
		</div>

		</div>
		<div class="col-md-3" style="min-height:320px;">
		<h6>Commonly found themes</h6>
			<ul class="nav nav-pills nav-stacked">  
				<li><a href="#">Anger<span style="float:right;">(433)</span></a></li>      
				<li><a href="#">Sadness<span style="float:right;">(396)</span></a></li>   
				<li><a href="#">Parent<span style="float:right;">(378)</span></a></li>    
				<li><a href="#">Happiness<span style="float:right;">(293)</span></a></li>   
				<li><a href="#">Sibling<span style="float:right;">(289)</span></a></li>   
				<li><a href="#">Tradition<span style="float:right;">(255)</span></a></li> 			
			</ul>
		</div>
	</div>
	
	<div class="col-md-12" style="min-height:350px;margin:5px;">
	  <div class="blur-this">
		<div class="col-md-8" style="min-height:350px;">
			<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="home-map"> 
				<div class="blur-this">
					<div id="map-homepage"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="min-height:350px;">
		<!--<h6>Recently modified files</h6>-->
		
		<div class="bs-loading-container" bs-loading-overlay bs-loading-overlay-active-class="loading-overlay--active" bs-loading-overlay-reference-id="file-list"> 
				<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" style="margin-top:5px">
					<tr ng-repeat="row in $data">
						<td data-title="'File'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
						<td data-title="'Modified'" filter="{lastModified: 'text'}" sortable="'lastModified'">{{row.lastModified | date : "dd MMMM, yyyy h:mm a"}}</td>
						<td data-title="'User'" filter="{createdBy: 'text'}" sortable="'createdBy'">{{row.createdBy}}</td>
					</tr>
				</table>
			
		</div>
	   </div>
	  </div>
	</div>
	


	<footer-generic></footer-generic>

</div>